# Analysizing Crime Data

In [3]:
# Dependencies and Setup
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime
import os

In [5]:
file = "combined_crime_withKey_withweather.csv"
df = pd.read_csv(file)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2877319 entries, 0 to 2877318
Data columns (total 9 columns):
Unnamed: 0    int64
City          object
Code          object
StartDate     object
StartTime     int64
Latitude      float64
Longitude     float64
Mapping       object
Weather       object
dtypes: float64(2), int64(2), object(5)
memory usage: 197.6+ MB

In [6]:
df.head()

,Unnamed: 0,City,Code,StartDate,StartTime,Latitude,Longitude,Mapping,Weather
0,0,atlanta,A720,2014-01-01,1,33.69915,-84.41819,Auto-Theft,Partly Cloudy
1,1,atlanta,A720,2014-01-02,21,33.83697,-84.37948,Auto-Theft,Possible Drizzle
2,2,atlanta,A720,2014-01-04,14,33.80726,-84.47158,Auto-Theft,Mostly Cloudy
3,3,atlanta,A720,2014-01-04,12,33.76117,-84.39066,Auto-Theft,Partly Cloudy
4,4,atlanta,A720,2014-01-05,22,33.75294,-84.48775,Auto-Theft,Overcast

In [14]:
city_df = df[["City", "StartDate","StartTime"]].copy()
city_df2 = city_df.groupby(["City", "StartDate"]).agg("count")
city_df2.head()

                    StartTime
City    StartDate
atlanta 2014-01-01         82
        2014-01-02         73
        2014-01-03         73
        2014-01-04         76
        2014-01-05         73

In [15]:
city_df2.to_csv("testing.csv", sep=',', encoding='utf-8')

In [16]:
city_df = df[["City", "Mapping", "Weather","StartTime"]].copy()
city_df2 = city_df.groupby(["City", "Mapping", "Weather"]).agg("count")
city_df2.head()

                                      StartTime
City    Mapping    Weather
atlanta Auto-Theft Clear                   5399
                   Drizzle                  221
                   Drizzle and Humid          4
                   Foggy                    298
                   Heavy Rain                 3

In [18]:
city_df2.to_csv("testing2.csv", sep=',', encoding='utf-8')

In [19]:
city_df = df[["City", "Mapping", "Weather", "StartTime", "Code"]].copy()
city_df2 = city_df.groupby(["City", "Mapping", "Weather", "StartTime"]).agg("count")
city_df2.head()

                                      Code
City    Mapping    Weather StartTime
atlanta Auto-Theft Clear   0           323
                           1           200
                           2           192
                           3           144
                           4           135

In [20]:
city_df2.to_csv("testing3.csv", sep=',', encoding='utf-8')