In [1]:
# Dependencies
from splinter import Browser
from bs4 import BeautifulSoup as bs
from sqlalchemy import create_engine
import numpy as np
import pandas as pd
import requests
import pymongo
from datetime import datetime
import ast

In [2]:
file = "data/Atlanta/Atlanta_CRIME_Data.csv"
data1 = pd.read_csv(file)

/anaconda3/envs/PythonData/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data1

,Report Number,Report Date,Occur Date,Occur Time,Possible Date,Possible Time,Beat,Apartment Office Prefix,Apartment Number,Location,Shift Occurence,Location Type,UCR Literal,UCR #,IBR Code,Neighborhood,NPU,Latitude,Longitude
0,90010930,1/1/2009,1/1/2009,1145,1/1/2009,1148.0,408.0,NaN,NaN,2841 GREENBRIAR PKWY,Day Watch,8,LARCENY-NON VEHICLE,630,2303,Greenbriar,R,33.68845,-84.49328
1,90011083,1/1/2009,1/1/2009,1330,1/1/2009,1330.0,506.0,NaN,NaN,12 BROAD ST SW,Day Watch,9,LARCENY-NON VEHICLE,630,2303,Downtown,M,33.75320,-84.39201
2,90011208,1/1/2009,1/1/2009,1500,1/1/2009,1520.0,413.0,NaN,NaN,3500 MARTIN L KING JR DR SW,Unknown,8,LARCENY-NON VEHICLE,630,2303,Adamsville,H,33.75735,-84.50282
3,90011218,1/1/2009,1/1/2009,1450,1/1/2009,1510.0,204.0,NaN,NaN,3393 PEACHTREE RD NE,Evening Watch,8,LARCENY-NON VEHICLE,630,2303,Lenox,B,33.84676,-84.36212
4,90011289,1/1/2009,1/1/2009,1600,1/1/2009,1700.0,408.0,NaN,NaN,2841 GREENBRIAR PKWY SW,Unknown,8,LARCENY-NON VEHICLE,630,2303,Greenbriar,R,33.68677,-84.49773
5,90011327,1/1/2009,1/1/2009,1645,1/1/2009,1645.0,607.0,NaN,NaN,1217 CAROLINE ST NE,Evening Watch,24,LARCENY-NON VEHICLE,630,2303,Edgewood,O,33.75786,-84.34875
6,90011450,1/1/2009,1/1/2009,1740,1/1/2009,1815.0,308.0,NaN,NaN,2685 METROPOLITAN PARKWAY,Evening Watch,12,LARCENY-NON VEHICLE,630,2303,Venetian Hills,S,33.70827,-84.45385
7,90011608,1/1/2009,1/1/2009,1627,1/1/2009,2110.0,204.0,NaN,NaN,3393 PEACHTREE RD,Evening Watch,8,LARCENY-NON VEHICLE,630,2303,Lenox,B,33.84676,-84.36212
8,90010721,1/1/2009,1/1/2009,815,1/1/2009,820.0,408.0,NaN,NaN,3030 HEADLAND DR SW,Day Watch,12,LARCENY-NON VEHICLE,630,2303,Greenbriar,R,33.68841,-84.48742
9,90010108,1/1/2009,12/31/2008,2000,1/1/2009,100.0,506.0,NaN,NaN,360 MARIETTA ST NW,Morning Watch,18,LARCENY-FROM VEHICLE,640,2305,Downtown,M,33.76269,-84.39702
10,90010247,1/1/2009,12/31/2008,2300,1/1/2009,135.0,607.0,NaN,NaN,195 ARIZONA AVE NE,Morning Watch,13,LARCENY-FROM VEHICLE,640,2305,Edgewood,O,33.75902,-84.33120
11,90010267,1/1/2009,12/31/2008,2230,1/1/2009,130.0,607.0,NaN,NaN,58 SAUNDERS ST NE,Morning Watch,20,LARCENY-FROM VEHICLE,640,2305,Kirkwood,O,33.75441,-84.32465
12,90010730,1/1/2009,1/1/2009,100,1/1/2009,900.0,406.0,NaN,NaN,1457 VENETIAN DR SW,Day Watch,20,LARCENY-FROM VEHICLE,640,2305,Venetian Hills,S,33.71464,-84.43612
13,90010745,1/1/2009,12/31/2008,2030,1/1/2009,800.0,205.0,NaN,313,3558 PIEDMONT RD NE,Day Watch,18,LARCENY-FROM VEHICLE,640,2305,Buckhead Forest,B,33.85115,-84.37944
14,90010774,1/1/2009,1/1/2009,130,1/1/2009,923.0,605.0,NaN,NaN,456 CANDLER ST NE,Day Watch,13,LARCENY-FROM VEHICLE,640,2305,Candler Park,N,33.76675,-84.34595
15,90010805,1/1/2009,1/1/2009,900,1/1/2009,945.0,511.0,NaN,1305,626 DEKALB AVE SE,Day Watch,18,LARCENY-FROM VEHICLE,640,2305,Old Fourth Ward,M,33.75283,-84.36687
16,90010917,1/1/2009,12/31/2008,1915,1/1/2009,1137.0,505.0,NaN,NaN,422 9TH ST NE,Day Watch,13,LARCENY-FROM VEHICLE,640,2305,Midtown,E,33.78080,-84.37334
17,90011020,1/1/2009,12/31/2008,1900,1/1/2009,1230.0,507.0,NaN,NaN,590 W PEACHTREE ST NW,Day Watch,18,LARCENY-FROM VEHICLE,640,2305,Downtown,M,33.77023,-84.38815
18,90011049,1/1/2009,12/31/2008,1700,12/31/2008,2200.0,504.0,NaN,NaN,188 14TH STREET,Day Watch,18,LARCENY-FROM VEHICLE,640,2305,Midtown,E,33.78663,-84.38139
19,90011054,1/1/2009,12/29/2008,1700,12/30/2008,700.0,505.0,NaN,NaN,897 MONROE CIR NE,Day Watch,13,LARCENY-FROM VEHICLE,640,2305,Midtown,E,33.77917,-84.36851
20,90011104,1/1/2009,1/1/2009,100,1/1/2009,1200.0,413.0,NaN,NaN,4076 BREWER DR SW,Evening Watch,NaN,LARCENY-FROM VEHICLE,640,2305,Wilson Mill Meadows,H,33.75174,-84.52101
21,90011207,1/1/2009,12/27/2008,100,12/28/2008,1200.0,108.0,NaN,1234,162O HOLLY WOOD DR NW,Evening Watch,18,LARCENY-FROM VEHICLE,640,2305,Scotts Crossing,G,33.79988,-84.47023
22,90011267,1/1/2009,1/1/2009,1400,1/1/2009,1545.0,506.0,NaN,NaN,IVAN ALLEN JR BLVD NW / VENABLE ST NW,Evening Watch,13,LARCENY-FROM VEHICLE,640,2305,Downtown,M,33.76464,-84.39534
23,90011384,1/1/2009,1/1/2009,1630,1/1/2009,1630.0,202.0,NaN,NaN,135 W WIEUCA RD NW @CHASTAIN CITY PARK,Evening Watch,13,LARCENY-FROM VEHICLE,640,2305,Chastain Park,A,33.87589,-84.39202
24,90011533,1/1/2009,1/1/2009,1938,1/1/2009,1938.0,413.0,NaN,NaN,501 WILSON MILLRD SW,Evening Watch,13,LARCENY-FROM VEHICLE,640,2305,Wilson Mill Meadows,H,33.74866,-84.51758
25,90011592,1/1/2009,1/1/2009,1200,1/1/2009,2000.0,503.0,NaN,NaN,6TH ST NE / W PEACHTREE ST NE,Evening Watch,13,LARCENY-FROM VEHICLE,640,2305,Midtown,E,33.77754,-84.38730
26,90011602,1/1/2009,1/1/2009,2000,1/1/2009,2025.0,408.0,NaN,NaN,2841 GREENBRIAR PKWY SW,Evening Watch,18,LARCENY-FROM VEHICLE,640,2305,Greenbriar,R,33.68677,-84.49773
27,90011792,1/1/2009,1/1/2009,2200,1/1/2009,2240.0,109.0,NaN,NaN,3114 COLLIER DR NW,Morning Watch,13,LARCENY-FROM VEHICLE,640,2305,Collier Heights,I,33.76516,-84.49082
28,90011702,1/1/2009,1/1/2009,2210,1/1/2009,2220.0,507.0,NaN,NaN,31 BAKER ST NE,Evening Watch,18,LARCENY-NON VEHICLE,680,2307,Downtown,M,33.76214,-84.38625
29,90011117,1/1/2009,12/31/2008,2100,1/1/2009,1400.0,306.0,NaN,87,624 AMAL DR SW,Evening Watch,26,LARCENY-FROM VEHICLE,650,2304,Amal Heights,Y,33.70933,-84.39722
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317874,183651784,12/31/2018,12/31/2018,1200,12/31/2018,1923.0,408.0,NaN,2-C,1660 STANTON RD SW,Morning Watch,26,AGG ASSAULT,440,1399,NaN,R,33.70988,-84.44361
317875,183652177,12/31/2018,12/31/2018,2143,12/31/2018,2143.0,407.0,NaN,V-11,320 FAIRBURN RD SW,Morning Watch,20,AGG ASSAULT,430,1315,Fairburn Mays,H,33.74510,-84.50858
317876,183650248,12/31/2018,12/31/2018,245,12/31/2018,310.0,111.0,B,6,213 FAIRBURN RD NW,Morning Watch,26,ROBBERY-PEDESTRIAN,311,1204,Adamsville,H,33.76136,-84.50424
317877,183650302,12/31/2018,12/31/2018,400,12/31/2018,401.0,203.0,NaN,NaN,1212 HUFF RD NW,Morning Watch,13,ROBBERY-PEDESTRIAN,311,1212,Blandtown,D,33.78978,-84.42557
317878,183651614,12/31/2018,12/31/2018,1746,12/31/2018,1746.0,503.0,NaN,NaN,132 10TH ST NE,Evening Watch,21,ROBBERY-PEDESTRIAN,311,1204,Midtown,E,33.78222,-84.38290
317879,183652322,12/31/2018,12/31/2018,2205,12/31/2018,2210.0,206.0,NaN,NaN,3150 ROSWELL RD NW,Evening Watch,18,ROBBERY-PEDESTRIAN,311,1204,South Tuxedo Park,B,33.84097,-84.37929
317880,183652421,12/31/2018,12/31/2018,2200,12/31/2018,2300.0,109.0,NaN,NaN,651 ROBERT ST NW,Unknown,99,ROBBERY-PEDESTRIAN,311,1212,Center Hill,J,33.77283,-84.47212
317881,183652037,12/31/2018,12/29/2018,2345,12/29/2018,2355.0,103.0,NaN,244,800 W MARIETTA ST NW @METROPOINTE LOFTS,Morning Watch,26,ROBBERY-RESIDENCE,315,1207,English Avenue,L,33.78022,-84.41514
317882,183650233,12/31/2018,12/31/2018,250,12/31/2018,255.0,505.0,NaN,NaN,855 PEACHTREE ST NE,Morning Watch,13,AGG ASSAULT,410,1314,Midtown,E,33.77798,-84.38389
317883,183650349,12/31/2018,12/31/2018,400,12/31/2018,454.0,307.0,NaN,NaN,2000 LAKEWOOD AVE,Morning Watch,13,AGG ASSAULT,410,1314,Lakewood Heights,Y,33.70087,-84.38725
317884,183651714,12/31/2018,12/31/2018,1841,12/31/2018,1847.0,111.0,NaN,NaN,2457 MARTIN L KING JR DR NW @HIGHTOWER PLAZA,Evening Watch,NaN,AGG ASSAULT,410,1314,Harland Terrace,I,33.75230,-84.46786
317885,183652335,12/31/2018,12/31/2018,2225,12/31/2018,2230.0,312.0,NaN,NaN,3128 WATERS RD SW,Morning Watch,20,AGG ASSAULT,410,1314,Glenrose Heights,Z,33.66882,-84.39639
317886,183650939,12/31/2018,12/18/2018,2100,12/19/2018,1015.0,409.0,NaN,NaN,3120 CAMPBELLTON RD SW,Unknown,18,AUTO THEFT,710,2404,Southwest,R,33.69204,-84.49085
317887,183651013,12/31/2018,12/31/2018,1200,12/31/2018,1243.0,211.0,NaN,NaN,2625 PIEDMONT RD NE,Day Watch,18,AUTO THEFT,710,2404,Lindbergh/Morosgo,B,33.82742,-84.36532
317888,183651624,12/31/2018,12/31/2018,1700,12/31/2018,1800.0,211.0,NaN,NaN,2537 PIEDMONT RD NE,Evening Watch,18,AUTO THEFT,710,2404,Lindbergh/Morosgo,B,33.82403,-84.36328
317889,183651734,12/31/2018,12/26/2018,1300,12/31/2018,1850.0,208.0,NaN,NaN,3203 W SHADOWLAWN AVE NE,Morning Watch,20,AUTO THEFT,710,2404,Buckhead Forest,B,33.84317,-84.37459
317890,183651800,12/31/2018,12/30/2018,1800,12/31/2018,1845.0,211.0,NaN,1203,740 SIDNEY MARCUS BLVD NE,Evening Watch,18,AUTO THEFT,710,2404,Lindbergh/Morosgo,B,33.82598,-84.36335
317891,183650810,12/31/2018,12/30/2018,1400,12/31/2018,1200.0,210.0,NaN,NaN,3450 ROXBORO RD NE,Evening Watch,18,AUTO THEFT,720,2424,Buckhead Heights,B,33.84862,-84.35400
317892,183652102,12/31/2018,12/31/2018,2100,12/31/2018,2115.0,402.0,NaN,NaN,976 OAKLAND DR SW,Morning Watch,7,AUTO THEFT,720,2424,Oakland City,S,33.72827,-84.42686
317893,183650007,12/31/2018,12/31/2018,30,12/31/2018,35.0,204.0,NaN,NaN,1801 HOWELL MILL RD NW,Morning Watch,8,LARCENY-NON VEHICLE,630,2303,Berkeley Park,D,33.80388,-84.41278
317894,183650683,12/31/2018,12/31/2018,1000,12/31/2018,1002.0,204.0,STE,240,1801 HOWELL MILL RD NW,Day Watch,8,LARCENY-NON VEHICLE,630,2303,Berkeley Park,D,33.80448,-84.41348
317895,183650689,12/31/2018,12/31/2018,1016,12/31/2018,1126.0,511.0,NaN,NaN,50 ALABAMA ST SW,Day Watch,NaN,LARCENY-NON VEHICLE,630,2303,Downtown,M,33.75194,-84.38964
317896,183651202,12/31/2018,12/31/2018,1400,12/31/2018,1500.0,303.0,NaN,NaN,322 GLENN ST SW,Day Watch,7,LARCENY-NON VEHICLE,630,2303,Mechanicsville,V,33.73797,-84.39846
317897,183651244,12/31/2018,12/31/2018,800,12/31/2018,1400.0,210.0,NaN,NaN,3393 PEACHTREE RD NE,Day Watch,24,LARCENY-NON VEHICLE,630,2303,Lenox,B,33.84676,-84.36212
317898,183651676,12/31/2018,12/31/2018,1800,12/31/2018,1823.0,510.0,NaN,NaN,25 PEACHTREE ST SE,Unknown,NaN,LARCENY-NON VEHICLE,630,2303,Downtown,M,33.75445,-84.38954
317899,183651752,12/31/2018,12/31/2018,1845,12/31/2018,1930.0,404.0,NaN,NaN,807 CASCADE AVE SW,Evening Watch,NaN,LARCENY-NON VEHICLE,630,2303,Cascade Avenue/Road,S,33.73323,-84.43795
317900,183652121,12/31/2018,12/31/2018,2123,12/31/2018,2145.0,307.0,NaN,NaN,1959 LAKEWOOD AVE SE,Evening Watch,23,LARCENY-NON VEHICLE,630,2303,Lakewood Heights,Y,33.70262,-84.38491
317901,183652271,12/31/2018,12/31/2018,2205,12/31/2018,2208.0,203.0,NaN,NaN,2020 BOLTON RD NW,Morning Watch,23,LARCENY-NON VEHICLE,630,2303,Riverside,D,33.81125,-84.47594
317902,183650457,12/31/2018,12/31/2018,500,12/31/2018,645.0,301.0,NaN,11,661 UNIVERSITY AVE SW,Day Watch,26,BURGLARY-RESIDENCE,521,2204,Adair Park,V,33.72227,-84.40929
317903,183651734,12/31/2018,12/26/2018,1300,12/31/2018,1850.0,208.0,NaN,NaN,3203 W SHADOWLAWN AVE NE,Morning Watch,20,BURGLARY-RESIDENCE,521,2204,Buckhead Forest,B,33.84317,-84.37459

In [4]:
# Column Names from csv
# ----------------------------
# Report Number	Report Date	Occur Date	Occur Time	Possible Date	Possible Time	Beat	
# Apartment Office Prefix	Apartment Number	Location	Shift Occurence	Location Type	
# UCR Literal	UCR #	IBR Code	Neighborhood	NPU	Latitude	Longitude

data = data1[["Report Number", "UCR #", "UCR Literal", "Occur Date", "Occur Time",  "Latitude", "Longitude"]].copy()
data.rename(columns={'Latitude':'latitude', 'Longitude':'longitude'}, inplace=True)
data["city"] = "atlanta"
data = data[["city", "Report Number", "UCR #", "UCR Literal", "Occur Date", "Occur Time",  "latitude", "longitude"]].copy()
data

,city,Report Number,UCR #,UCR Literal,Occur Date,Occur Time,latitude,longitude
0,atlanta,90010930,630,LARCENY-NON VEHICLE,1/1/2009,1145,33.68845,-84.49328
1,atlanta,90011083,630,LARCENY-NON VEHICLE,1/1/2009,1330,33.75320,-84.39201
2,atlanta,90011208,630,LARCENY-NON VEHICLE,1/1/2009,1500,33.75735,-84.50282
3,atlanta,90011218,630,LARCENY-NON VEHICLE,1/1/2009,1450,33.84676,-84.36212
4,atlanta,90011289,630,LARCENY-NON VEHICLE,1/1/2009,1600,33.68677,-84.49773
5,atlanta,90011327,630,LARCENY-NON VEHICLE,1/1/2009,1645,33.75786,-84.34875
6,atlanta,90011450,630,LARCENY-NON VEHICLE,1/1/2009,1740,33.70827,-84.45385
7,atlanta,90011608,630,LARCENY-NON VEHICLE,1/1/2009,1627,33.84676,-84.36212
8,atlanta,90010721,630,LARCENY-NON VEHICLE,1/1/2009,815,33.68841,-84.48742
9,atlanta,90010108,640,LARCENY-FROM VEHICLE,12/31/2008,2000,33.76269,-84.39702
10,atlanta,90010247,640,LARCENY-FROM VEHICLE,12/31/2008,2300,33.75902,-84.33120
11,atlanta,90010267,640,LARCENY-FROM VEHICLE,12/31/2008,2230,33.75441,-84.32465
12,atlanta,90010730,640,LARCENY-FROM VEHICLE,1/1/2009,100,33.71464,-84.43612
13,atlanta,90010745,640,LARCENY-FROM VEHICLE,12/31/2008,2030,33.85115,-84.37944
14,atlanta,90010774,640,LARCENY-FROM VEHICLE,1/1/2009,130,33.76675,-84.34595
15,atlanta,90010805,640,LARCENY-FROM VEHICLE,1/1/2009,900,33.75283,-84.36687
16,atlanta,90010917,640,LARCENY-FROM VEHICLE,12/31/2008,1915,33.78080,-84.37334
17,atlanta,90011020,640,LARCENY-FROM VEHICLE,12/31/2008,1900,33.77023,-84.38815
18,atlanta,90011049,640,LARCENY-FROM VEHICLE,12/31/2008,1700,33.78663,-84.38139
19,atlanta,90011054,640,LARCENY-FROM VEHICLE,12/29/2008,1700,33.77917,-84.36851
20,atlanta,90011104,640,LARCENY-FROM VEHICLE,1/1/2009,100,33.75174,-84.52101
21,atlanta,90011207,640,LARCENY-FROM VEHICLE,12/27/2008,100,33.79988,-84.47023
22,atlanta,90011267,640,LARCENY-FROM VEHICLE,1/1/2009,1400,33.76464,-84.39534
23,atlanta,90011384,640,LARCENY-FROM VEHICLE,1/1/2009,1630,33.87589,-84.39202
24,atlanta,90011533,640,LARCENY-FROM VEHICLE,1/1/2009,1938,33.74866,-84.51758
25,atlanta,90011592,640,LARCENY-FROM VEHICLE,1/1/2009,1200,33.77754,-84.38730
26,atlanta,90011602,640,LARCENY-FROM VEHICLE,1/1/2009,2000,33.68677,-84.49773
27,atlanta,90011792,640,LARCENY-FROM VEHICLE,1/1/2009,2200,33.76516,-84.49082
28,atlanta,90011702,680,LARCENY-NON VEHICLE,1/1/2009,2210,33.76214,-84.38625
29,atlanta,90011117,650,LARCENY-FROM VEHICLE,12/31/2008,2100,33.70933,-84.39722
...,...,...,...,...,...,...,...,...
317874,atlanta,183651784,440,AGG ASSAULT,12/31/2018,1200,33.70988,-84.44361
317875,atlanta,183652177,430,AGG ASSAULT,12/31/2018,2143,33.74510,-84.50858
317876,atlanta,183650248,311,ROBBERY-PEDESTRIAN,12/31/2018,245,33.76136,-84.50424
317877,atlanta,183650302,311,ROBBERY-PEDESTRIAN,12/31/2018,400,33.78978,-84.42557
317878,atlanta,183651614,311,ROBBERY-PEDESTRIAN,12/31/2018,1746,33.78222,-84.38290
317879,atlanta,183652322,311,ROBBERY-PEDESTRIAN,12/31/2018,2205,33.84097,-84.37929
317880,atlanta,183652421,311,ROBBERY-PEDESTRIAN,12/31/2018,2200,33.77283,-84.47212
317881,atlanta,183652037,315,ROBBERY-RESIDENCE,12/29/2018,2345,33.78022,-84.41514
317882,atlanta,183650233,410,AGG ASSAULT,12/31/2018,250,33.77798,-84.38389
317883,atlanta,183650349,410,AGG ASSAULT,12/31/2018,400,33.70087,-84.38725
317884,atlanta,183651714,410,AGG ASSAULT,12/31/2018,1841,33.75230,-84.46786
317885,atlanta,183652335,410,AGG ASSAULT,12/31/2018,2225,33.66882,-84.39639
317886,atlanta,183650939,710,AUTO THEFT,12/18/2018,2100,33.69204,-84.49085
317887,atlanta,183651013,710,AUTO THEFT,12/31/2018,1200,33.82742,-84.36532
317888,atlanta,183651624,710,AUTO THEFT,12/31/2018,1700,33.82403,-84.36328
317889,atlanta,183651734,710,AUTO THEFT,12/26/2018,1300,33.84317,-84.37459
317890,atlanta,183651800,710,AUTO THEFT,12/30/2018,1800,33.82598,-84.36335
317891,atlanta,183650810,720,AUTO THEFT,12/30/2018,1400,33.84862,-84.35400
317892,atlanta,183652102,720,AUTO THEFT,12/31/2018,2100,33.72827,-84.42686
317893,atlanta,183650007,630,LARCENY-NON VEHICLE,12/31/2018,30,33.80388,-84.41278
317894,atlanta,183650683,630,LARCENY-NON VEHICLE,12/31/2018,1000,33.80448,-84.41348
317895,atlanta,183650689,630,LARCENY-NON VEHICLE,12/31/2018,1016,33.75194,-84.38964
317896,atlanta,183651202,630,LARCENY-NON VEHICLE,12/31/2018,1400,33.73797,-84.39846
317897,atlanta,183651244,630,LARCENY-NON VEHICLE,12/31/2018,800,33.84676,-84.36212
317898,atlanta,183651676,630,LARCENY-NON VEHICLE,12/31/2018,1800,33.75445,-84.38954
317899,atlanta,183651752,630,LARCENY-NON VEHICLE,12/31/2018,1845,33.73323,-84.43795
317900,atlanta,183652121,630,LARCENY-NON VEHICLE,12/31/2018,2123,33.70262,-84.38491
317901,atlanta,183652271,630,LARCENY-NON VEHICLE,12/31/2018,2205,33.81125,-84.47594
317902,atlanta,183650457,521,BURGLARY-RESIDENCE,12/31/2018,500,33.72227,-84.40929
317903,atlanta,183651734,521,BURGLARY-RESIDENCE,12/26/2018,1300,33.84317,-84.37459

In [5]:
# NA NAN Checking
num_NA = data.isna().sum()
print(num_NA)
print("\nPercentage of NA in whole data: \n" + str(num_NA/data["Report Number"].count()))

city             0
Report Number    0
UCR #            0
UCR Literal      0
Occur Date       0
Occur Time       0
latitude         0
longitude        0
dtype: int64

Percentage of NA in whole data:
city             0.0
Report Number    0.0
UCR #            0.0
UCR Literal      0.0
Occur Date       0.0
Occur Time       0.0
latitude         0.0
longitude        0.0
dtype: float64

In [6]:
dates = []
years = []

for date in data["Occur Date"]:
    date = datetime.strptime(date, "%m/%d/%Y")
    dates.append(date)
    years.append(date.year)
    
data["date"] = dates
data["years"] = years
data

,city,Report Number,UCR #,UCR Literal,Occur Date,Occur Time,latitude,longitude,date,years
0,atlanta,90010930,630,LARCENY-NON VEHICLE,1/1/2009,1145,33.68845,-84.49328,2009-01-01,2009
1,atlanta,90011083,630,LARCENY-NON VEHICLE,1/1/2009,1330,33.75320,-84.39201,2009-01-01,2009
2,atlanta,90011208,630,LARCENY-NON VEHICLE,1/1/2009,1500,33.75735,-84.50282,2009-01-01,2009
3,atlanta,90011218,630,LARCENY-NON VEHICLE,1/1/2009,1450,33.84676,-84.36212,2009-01-01,2009
4,atlanta,90011289,630,LARCENY-NON VEHICLE,1/1/2009,1600,33.68677,-84.49773,2009-01-01,2009
5,atlanta,90011327,630,LARCENY-NON VEHICLE,1/1/2009,1645,33.75786,-84.34875,2009-01-01,2009
6,atlanta,90011450,630,LARCENY-NON VEHICLE,1/1/2009,1740,33.70827,-84.45385,2009-01-01,2009
7,atlanta,90011608,630,LARCENY-NON VEHICLE,1/1/2009,1627,33.84676,-84.36212,2009-01-01,2009
8,atlanta,90010721,630,LARCENY-NON VEHICLE,1/1/2009,815,33.68841,-84.48742,2009-01-01,2009
9,atlanta,90010108,640,LARCENY-FROM VEHICLE,12/31/2008,2000,33.76269,-84.39702,2008-12-31,2008
10,atlanta,90010247,640,LARCENY-FROM VEHICLE,12/31/2008,2300,33.75902,-84.33120,2008-12-31,2008
11,atlanta,90010267,640,LARCENY-FROM VEHICLE,12/31/2008,2230,33.75441,-84.32465,2008-12-31,2008
12,atlanta,90010730,640,LARCENY-FROM VEHICLE,1/1/2009,100,33.71464,-84.43612,2009-01-01,2009
13,atlanta,90010745,640,LARCENY-FROM VEHICLE,12/31/2008,2030,33.85115,-84.37944,2008-12-31,2008
14,atlanta,90010774,640,LARCENY-FROM VEHICLE,1/1/2009,130,33.76675,-84.34595,2009-01-01,2009
15,atlanta,90010805,640,LARCENY-FROM VEHICLE,1/1/2009,900,33.75283,-84.36687,2009-01-01,2009
16,atlanta,90010917,640,LARCENY-FROM VEHICLE,12/31/2008,1915,33.78080,-84.37334,2008-12-31,2008
17,atlanta,90011020,640,LARCENY-FROM VEHICLE,12/31/2008,1900,33.77023,-84.38815,2008-12-31,2008
18,atlanta,90011049,640,LARCENY-FROM VEHICLE,12/31/2008,1700,33.78663,-84.38139,2008-12-31,2008
19,atlanta,90011054,640,LARCENY-FROM VEHICLE,12/29/2008,1700,33.77917,-84.36851,2008-12-29,2008
20,atlanta,90011104,640,LARCENY-FROM VEHICLE,1/1/2009,100,33.75174,-84.52101,2009-01-01,2009
21,atlanta,90011207,640,LARCENY-FROM VEHICLE,12/27/2008,100,33.79988,-84.47023,2008-12-27,2008
22,atlanta,90011267,640,LARCENY-FROM VEHICLE,1/1/2009,1400,33.76464,-84.39534,2009-01-01,2009
23,atlanta,90011384,640,LARCENY-FROM VEHICLE,1/1/2009,1630,33.87589,-84.39202,2009-01-01,2009
24,atlanta,90011533,640,LARCENY-FROM VEHICLE,1/1/2009,1938,33.74866,-84.51758,2009-01-01,2009
25,atlanta,90011592,640,LARCENY-FROM VEHICLE,1/1/2009,1200,33.77754,-84.38730,2009-01-01,2009
26,atlanta,90011602,640,LARCENY-FROM VEHICLE,1/1/2009,2000,33.68677,-84.49773,2009-01-01,2009
27,atlanta,90011792,640,LARCENY-FROM VEHICLE,1/1/2009,2200,33.76516,-84.49082,2009-01-01,2009
28,atlanta,90011702,680,LARCENY-NON VEHICLE,1/1/2009,2210,33.76214,-84.38625,2009-01-01,2009
29,atlanta,90011117,650,LARCENY-FROM VEHICLE,12/31/2008,2100,33.70933,-84.39722,2008-12-31,2008
...,...,...,...,...,...,...,...,...,...,...
317874,atlanta,183651784,440,AGG ASSAULT,12/31/2018,1200,33.70988,-84.44361,2018-12-31,2018
317875,atlanta,183652177,430,AGG ASSAULT,12/31/2018,2143,33.74510,-84.50858,2018-12-31,2018
317876,atlanta,183650248,311,ROBBERY-PEDESTRIAN,12/31/2018,245,33.76136,-84.50424,2018-12-31,2018
317877,atlanta,183650302,311,ROBBERY-PEDESTRIAN,12/31/2018,400,33.78978,-84.42557,2018-12-31,2018
317878,atlanta,183651614,311,ROBBERY-PEDESTRIAN,12/31/2018,1746,33.78222,-84.38290,2018-12-31,2018
317879,atlanta,183652322,311,ROBBERY-PEDESTRIAN,12/31/2018,2205,33.84097,-84.37929,2018-12-31,2018
317880,atlanta,183652421,311,ROBBERY-PEDESTRIAN,12/31/2018,2200,33.77283,-84.47212,2018-12-31,2018
317881,atlanta,183652037,315,ROBBERY-RESIDENCE,12/29/2018,2345,33.78022,-84.41514,2018-12-29,2018
317882,atlanta,183650233,410,AGG ASSAULT,12/31/2018,250,33.77798,-84.38389,2018-12-31,2018
317883,atlanta,183650349,410,AGG ASSAULT,12/31/2018,400,33.70087,-84.38725,2018-12-31,2018
317884,atlanta,183651714,410,AGG ASSAULT,12/31/2018,1841,33.75230,-84.46786,2018-12-31,2018
317885,atlanta,183652335,410,AGG ASSAULT,12/31/2018,2225,33.66882,-84.39639,2018-12-31,2018
317886,atlanta,183650939,710,AUTO THEFT,12/18/2018,2100,33.69204,-84.49085,2018-12-18,2018
317887,atlanta,183651013,710,AUTO THEFT,12/31/2018,1200,33.82742,-84.36532,2018-12-31,2018
317888,atlanta,183651624,710,AUTO THEFT,12/31/2018,1700,33.82403,-84.36328,2018-12-31,2018
317889,atlanta,183651734,710,AUTO THEFT,12/26/2018,1300,33.84317,-84.37459,2018-12-26,2018
317890,atlanta,183651800,710,AUTO THEFT,12/30/2018,1800,33.82598,-84.36335,2018-12-30,2018
317891,atlanta,183650810,720,AUTO THEFT,12/30/2018,1400,33.84862,-84.35400,2018-12-30,2018
317892,atlanta,183652102,720,AUTO THEFT,12/31/2018,2100,33.72827,-84.42686,2018-12-31,2018
317893,atlanta,183650007,630,LARCENY-NON VEHICLE,12/31/2018,30,33.80388,-84.41278,2018-12-31,2018
317894,atlanta,183650683,630,LARCENY-NON VEHICLE,12/31/2018,1000,33.80448,-84.41348,2018-12-31,2018
317895,atlanta,183650689,630,LARCENY-NON VEHICLE,12/31/2018,1016,33.75194,-84.38964,2018-12-31,2018
317896,atlanta,183651202,630,LARCENY-NON VEHICLE,12/31/2018,1400,33.73797,-84.39846,2018-12-31,2018
317897,atlanta,183651244,630,LARCENY-NON VEHICLE,12/31/2018,800,33.84676,-84.36212,2018-12-31,2018
317898,atlanta,183651676,630,LARCENY-NON VEHICLE,12/31/2018,1800,33.75445,-84.38954,2018-12-31,2018
317899,atlanta,183651752,630,LARCENY-NON VEHICLE,12/31/2018,1845,33.73323,-84.43795,2018-12-31,2018
317900,atlanta,183652121,630,LARCENY-NON VEHICLE,12/31/2018,2123,33.70262,-84.38491,2018-12-31,2018
317901,atlanta,183652271,630,LARCENY-NON VEHICLE,12/31/2018,2205,33.81125,-84.47594,2018-12-31,2018
317902,atlanta,183650457,521,BURGLARY-RESIDENCE,12/31/2018,500,33.72227,-84.40929,2018-12-31,2018
317903,atlanta,183651734,521,BURGLARY-RESIDENCE,12/26/2018,1300,33.84317,-84.37459,2018-12-26,2018

In [7]:
# data_2014 = pd.DataFrame()
# data_2015 = pd.DataFrame()
# data_2016 = pd.DataFrame()
# data_2017 = pd.DataFrame()
# data_2018 = pd.DataFrame()

# data_2014 = data.loc[data["years"] == 2014]
# print(data_2014)
# data_2015 = data.loc[data["years"] == 2015]
# print(data_2015)
# data_2016 = data.loc[data["years"] == 2016]
# print(data_2016)
# data_2017 = data.loc[data["years"] == 2017]
# print(data_2017)
# data_2018 = data.loc[data["years"] == 2018]
# data_2018

data = data.loc[(data["years"] >= 2014) & (data["years"] <= 2018)]
data

,city,Report Number,UCR #,UCR Literal,Occur Date,Occur Time,latitude,longitude,date,years
175621,atlanta,140011254,720,AUTO THEFT,1/1/2014,100,33.69915,-84.41819,2014-01-01,2014
175622,atlanta,140012074,341,ROBBERY-PEDESTRIAN,1/1/2014,1940,33.75290,-84.43904,2014-01-01,2014
175623,atlanta,140010429,311,ROBBERY-PEDESTRIAN,1/1/2014,226,33.77575,-84.46804,2014-01-01,2014
175624,atlanta,140010494,410,AGG ASSAULT,1/1/2014,245,33.76244,-84.41272,2014-01-01,2014
175625,atlanta,140011847,410,AGG ASSAULT,1/1/2014,1750,33.78554,-84.45441,2014-01-01,2014
175626,atlanta,140012191,410,AGG ASSAULT,1/1/2014,2000,33.75508,-84.45825,2014-01-01,2014
175627,atlanta,140010421,430,AGG ASSAULT,1/1/2014,215,33.70296,-84.45512,2014-01-01,2014
175628,atlanta,140010647,430,AGG ASSAULT,1/1/2014,410,33.75922,-84.44260,2014-01-01,2014
175629,atlanta,140010377,440,AGG ASSAULT,1/1/2014,200,33.84779,-84.36633,2014-01-01,2014
175633,atlanta,140010692,511,BURGLARY-RESIDENCE,1/1/2014,100,33.79333,-84.47416,2014-01-01,2014
175634,atlanta,140010707,511,BURGLARY-RESIDENCE,1/1/2014,200,33.76233,-84.42914,2014-01-01,2014
175636,atlanta,140011101,511,BURGLARY-RESIDENCE,1/1/2014,1,33.74054,-84.42372,2014-01-01,2014
175640,atlanta,140012364,511,BURGLARY-RESIDENCE,1/1/2014,1000,33.74328,-84.44318,2014-01-01,2014
175641,atlanta,140012436,640,LARCENY-FROM VEHICLE,1/1/2014,2115,33.77678,-84.35296,2014-01-01,2014
175647,atlanta,140010491,640,LARCENY-FROM VEHICLE,1/1/2014,230,33.74297,-84.40628,2014-01-01,2014
175654,atlanta,140011024,640,LARCENY-FROM VEHICLE,1/1/2014,200,33.75546,-84.33644,2014-01-01,2014
175656,atlanta,140011108,640,LARCENY-FROM VEHICLE,1/1/2014,300,33.73454,-84.51059,2014-01-01,2014
175658,atlanta,140011184,640,LARCENY-FROM VEHICLE,1/1/2014,30,33.74007,-84.40778,2014-01-01,2014
175660,atlanta,140011263,640,LARCENY-FROM VEHICLE,1/1/2014,130,33.77893,-84.38310,2014-01-01,2014
175665,atlanta,140012116,640,LARCENY-FROM VEHICLE,1/1/2014,1900,33.81438,-84.35297,2014-01-01,2014
175666,atlanta,140012385,640,LARCENY-FROM VEHICLE,1/1/2014,2030,33.76606,-84.36302,2014-01-01,2014
175667,atlanta,140010680,512,BURGLARY-NONRES,1/1/2014,438,33.73925,-84.41780,2014-01-01,2014
175668,atlanta,140011250,512,BURGLARY-NONRES,1/1/2014,1300,33.69730,-84.51663,2014-01-01,2014
175672,atlanta,140010312,531,BURGLARY-RESIDENCE,1/1/2014,130,33.79742,-84.40671,2014-01-01,2014
175673,atlanta,140011087,670,LARCENY-NON VEHICLE,1/1/2014,1015,33.76161,-84.38592,2014-01-01,2014
175676,atlanta,140010806,321,ROBBERY-PEDESTRIAN,1/1/2014,550,33.71624,-84.43741,2014-01-01,2014
175677,atlanta,140010378,331,ROBBERY-PEDESTRIAN,1/1/2014,205,33.79169,-84.40743,2014-01-01,2014
175678,atlanta,140010257,690,LARCENY-NON VEHICLE,1/1/2014,119,33.75411,-84.37179,2014-01-01,2014
175679,atlanta,140010528,690,LARCENY-NON VEHICLE,1/1/2014,1,33.84514,-84.37031,2014-01-01,2014
175683,atlanta,140011047,690,LARCENY-NON VEHICLE,1/1/2014,30,33.64900,-84.38047,2014-01-01,2014
...,...,...,...,...,...,...,...,...,...,...
317874,atlanta,183651784,440,AGG ASSAULT,12/31/2018,1200,33.70988,-84.44361,2018-12-31,2018
317875,atlanta,183652177,430,AGG ASSAULT,12/31/2018,2143,33.74510,-84.50858,2018-12-31,2018
317876,atlanta,183650248,311,ROBBERY-PEDESTRIAN,12/31/2018,245,33.76136,-84.50424,2018-12-31,2018
317877,atlanta,183650302,311,ROBBERY-PEDESTRIAN,12/31/2018,400,33.78978,-84.42557,2018-12-31,2018
317878,atlanta,183651614,311,ROBBERY-PEDESTRIAN,12/31/2018,1746,33.78222,-84.38290,2018-12-31,2018
317879,atlanta,183652322,311,ROBBERY-PEDESTRIAN,12/31/2018,2205,33.84097,-84.37929,2018-12-31,2018
317880,atlanta,183652421,311,ROBBERY-PEDESTRIAN,12/31/2018,2200,33.77283,-84.47212,2018-12-31,2018
317881,atlanta,183652037,315,ROBBERY-RESIDENCE,12/29/2018,2345,33.78022,-84.41514,2018-12-29,2018
317882,atlanta,183650233,410,AGG ASSAULT,12/31/2018,250,33.77798,-84.38389,2018-12-31,2018
317883,atlanta,183650349,410,AGG ASSAULT,12/31/2018,400,33.70087,-84.38725,2018-12-31,2018
317884,atlanta,183651714,410,AGG ASSAULT,12/31/2018,1841,33.75230,-84.46786,2018-12-31,2018
317885,atlanta,183652335,410,AGG ASSAULT,12/31/2018,2225,33.66882,-84.39639,2018-12-31,2018
317886,atlanta,183650939,710,AUTO THEFT,12/18/2018,2100,33.69204,-84.49085,2018-12-18,2018
317887,atlanta,183651013,710,AUTO THEFT,12/31/2018,1200,33.82742,-84.36532,2018-12-31,2018
317888,atlanta,183651624,710,AUTO THEFT,12/31/2018,1700,33.82403,-84.36328,2018-12-31,2018
317889,atlanta,183651734,710,AUTO THEFT,12/26/2018,1300,33.84317,-84.37459,2018-12-26,2018
317890,atlanta,183651800,710,AUTO THEFT,12/30/2018,1800,33.82598,-84.36335,2018-12-30,2018
317891,atlanta,183650810,720,AUTO THEFT,12/30/2018,1400,33.84862,-84.35400,2018-12-30,2018
317892,atlanta,183652102,720,AUTO THEFT,12/31/2018,2100,33.72827,-84.42686,2018-12-31,2018
317893,atlanta,183650007,630,LARCENY-NON VEHICLE,12/31/2018,30,33.80388,-84.41278,2018-12-31,2018
317894,atlanta,183650683,630,LARCENY-NON VEHICLE,12/31/2018,1000,33.80448,-84.41348,2018-12-31,2018
317895,atlanta,183650689,630,LARCENY-NON VEHICLE,12/31/2018,1016,33.75194,-84.38964,2018-12-31,2018
317896,atlanta,183651202,630,LARCENY-NON VEHICLE,12/31/2018,1400,33.73797,-84.39846,2018-12-31,2018
317897,atlanta,183651244,630,LARCENY-NON VEHICLE,12/31/2018,800,33.84676,-84.36212,2018-12-31,2018
317898,atlanta,183651676,630,LARCENY-NON VEHICLE,12/31/2018,1800,33.75445,-84.38954,2018-12-31,2018
317899,atlanta,183651752,630,LARCENY-NON VEHICLE,12/31/2018,1845,33.73323,-84.43795,2018-12-31,2018
317900,atlanta,183652121,630,LARCENY-NON VEHICLE,12/31/2018,2123,33.70262,-84.38491,2018-12-31,2018
317901,atlanta,183652271,630,LARCENY-NON VEHICLE,12/31/2018,2205,33.81125,-84.47594,2018-12-31,2018
317902,atlanta,183650457,521,BURGLARY-RESIDENCE,12/31/2018,500,33.72227,-84.40929,2018-12-31,2018
317903,atlanta,183651734,521,BURGLARY-RESIDENCE,12/26/2018,1300,33.84317,-84.37459,2018-12-26,2018

In [8]:
def reformat_datetime(df):
    dates = []
    times = []

    for d,t  in zip(df["date"], df["Occur Time"]):
#         print(d)
#         print(type(d))
    #     datetime = (datetime.strftime(d, format='%Y-%m-%d') + " " + str(t))
        dy = datetime.strptime(str(d), "%Y-%m-%d %H:%M:%S")
        dy = datetime.strftime(dy, format='%Y-%m-%d') 
        ti = int(t/100)
    #     datetime = d + " " + t
        dates.append(dy)
        times.append(ti)
    df["date"] = dates
    df["time"] = times
    return df

# def reformat_datetime(df):
#     datetimes = []
#     for d in df["date"]:
#         date_time = datetime.strftime(d, format='%Y-%m-%dT%H:00:00')
#         datetimes.append(date_time)
#     df["date_time"] = datetimes
#     return df

In [9]:
data_atlanta = reformat_datetime(data)
data_atlanta

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

,city,Report Number,UCR #,UCR Literal,Occur Date,Occur Time,latitude,longitude,date,years,time
175621,atlanta,140011254,720,AUTO THEFT,1/1/2014,100,33.69915,-84.41819,2014-01-01,2014,1
175622,atlanta,140012074,341,ROBBERY-PEDESTRIAN,1/1/2014,1940,33.75290,-84.43904,2014-01-01,2014,19
175623,atlanta,140010429,311,ROBBERY-PEDESTRIAN,1/1/2014,226,33.77575,-84.46804,2014-01-01,2014,2
175624,atlanta,140010494,410,AGG ASSAULT,1/1/2014,245,33.76244,-84.41272,2014-01-01,2014,2
175625,atlanta,140011847,410,AGG ASSAULT,1/1/2014,1750,33.78554,-84.45441,2014-01-01,2014,17
175626,atlanta,140012191,410,AGG ASSAULT,1/1/2014,2000,33.75508,-84.45825,2014-01-01,2014,20
175627,atlanta,140010421,430,AGG ASSAULT,1/1/2014,215,33.70296,-84.45512,2014-01-01,2014,2
175628,atlanta,140010647,430,AGG ASSAULT,1/1/2014,410,33.75922,-84.44260,2014-01-01,2014,4
175629,atlanta,140010377,440,AGG ASSAULT,1/1/2014,200,33.84779,-84.36633,2014-01-01,2014,2
175633,atlanta,140010692,511,BURGLARY-RESIDENCE,1/1/2014,100,33.79333,-84.47416,2014-01-01,2014,1
175634,atlanta,140010707,511,BURGLARY-RESIDENCE,1/1/2014,200,33.76233,-84.42914,2014-01-01,2014,2
175636,atlanta,140011101,511,BURGLARY-RESIDENCE,1/1/2014,1,33.74054,-84.42372,2014-01-01,2014,0
175640,atlanta,140012364,511,BURGLARY-RESIDENCE,1/1/2014,1000,33.74328,-84.44318,2014-01-01,2014,10
175641,atlanta,140012436,640,LARCENY-FROM VEHICLE,1/1/2014,2115,33.77678,-84.35296,2014-01-01,2014,21
175647,atlanta,140010491,640,LARCENY-FROM VEHICLE,1/1/2014,230,33.74297,-84.40628,2014-01-01,2014,2
175654,atlanta,140011024,640,LARCENY-FROM VEHICLE,1/1/2014,200,33.75546,-84.33644,2014-01-01,2014,2
175656,atlanta,140011108,640,LARCENY-FROM VEHICLE,1/1/2014,300,33.73454,-84.51059,2014-01-01,2014,3
175658,atlanta,140011184,640,LARCENY-FROM VEHICLE,1/1/2014,30,33.74007,-84.40778,2014-01-01,2014,0
175660,atlanta,140011263,640,LARCENY-FROM VEHICLE,1/1/2014,130,33.77893,-84.38310,2014-01-01,2014,1
175665,atlanta,140012116,640,LARCENY-FROM VEHICLE,1/1/2014,1900,33.81438,-84.35297,2014-01-01,2014,19
175666,atlanta,140012385,640,LARCENY-FROM VEHICLE,1/1/2014,2030,33.76606,-84.36302,2014-01-01,2014,20
175667,atlanta,140010680,512,BURGLARY-NONRES,1/1/2014,438,33.73925,-84.41780,2014-01-01,2014,4
175668,atlanta,140011250,512,BURGLARY-NONRES,1/1/2014,1300,33.69730,-84.51663,2014-01-01,2014,13
175672,atlanta,140010312,531,BURGLARY-RESIDENCE,1/1/2014,130,33.79742,-84.40671,2014-01-01,2014,1
175673,atlanta,140011087,670,LARCENY-NON VEHICLE,1/1/2014,1015,33.76161,-84.38592,2014-01-01,2014,10
175676,atlanta,140010806,321,ROBBERY-PEDESTRIAN,1/1/2014,550,33.71624,-84.43741,2014-01-01,2014,5
175677,atlanta,140010378,331,ROBBERY-PEDESTRIAN,1/1/2014,205,33.79169,-84.40743,2014-01-01,2014,2
175678,atlanta,140010257,690,LARCENY-NON VEHICLE,1/1/2014,119,33.75411,-84.37179,2014-01-01,2014,1
175679,atlanta,140010528,690,LARCENY-NON VEHICLE,1/1/2014,1,33.84514,-84.37031,2014-01-01,2014,0
175683,atlanta,140011047,690,LARCENY-NON VEHICLE,1/1/2014,30,33.64900,-84.38047,2014-01-01,2014,0
...,...,...,...,...,...,...,...,...,...,...,...
317874,atlanta,183651784,440,AGG ASSAULT,12/31/2018,1200,33.70988,-84.44361,2018-12-31,2018,12
317875,atlanta,183652177,430,AGG ASSAULT,12/31/2018,2143,33.74510,-84.50858,2018-12-31,2018,21
317876,atlanta,183650248,311,ROBBERY-PEDESTRIAN,12/31/2018,245,33.76136,-84.50424,2018-12-31,2018,2
317877,atlanta,183650302,311,ROBBERY-PEDESTRIAN,12/31/2018,400,33.78978,-84.42557,2018-12-31,2018,4
317878,atlanta,183651614,311,ROBBERY-PEDESTRIAN,12/31/2018,1746,33.78222,-84.38290,2018-12-31,2018,17
317879,atlanta,183652322,311,ROBBERY-PEDESTRIAN,12/31/2018,2205,33.84097,-84.37929,2018-12-31,2018,22
317880,atlanta,183652421,311,ROBBERY-PEDESTRIAN,12/31/2018,2200,33.77283,-84.47212,2018-12-31,2018,22
317881,atlanta,183652037,315,ROBBERY-RESIDENCE,12/29/2018,2345,33.78022,-84.41514,2018-12-29,2018,23
317882,atlanta,183650233,410,AGG ASSAULT,12/31/2018,250,33.77798,-84.38389,2018-12-31,2018,2
317883,atlanta,183650349,410,AGG ASSAULT,12/31/2018,400,33.70087,-84.38725,2018-12-31,2018,4
317884,atlanta,183651714,410,AGG ASSAULT,12/31/2018,1841,33.75230,-84.46786,2018-12-31,2018,18
317885,atlanta,183652335,410,AGG ASSAULT,12/31/2018,2225,33.66882,-84.39639,2018-12-31,2018,22
317886,atlanta,183650939,710,AUTO THEFT,12/18/2018,2100,33.69204,-84.49085,2018-12-18,2018,21
317887,atlanta,183651013,710,AUTO THEFT,12/31/2018,1200,33.82742,-84.36532,2018-12-31,2018,12
317888,atlanta,183651624,710,AUTO THEFT,12/31/2018,1700,33.82403,-84.36328,2018-12-31,2018,17
317889,atlanta,183651734,710,AUTO THEFT,12/26/2018,1300,33.84317,-84.37459,2018-12-26,2018,13
317890,atlanta,183651800,710,AUTO THEFT,12/30/2018,1800,33.82598,-84.36335,2018-12-30,2018,18
317891,atlanta,183650810,720,AUTO THEFT,12/30/2018,1400,33.84862,-84.35400,2018-12-30,2018,14
317892,atlanta,183652102,720,AUTO THEFT,12/31/2018,2100,33.72827,-84.42686,2018-12-31,2018,21
317893,atlanta,183650007,630,LARCENY-NON VEHICLE,12/31/2018,30,33.80388,-84.41278,2018-12-31,2018,0
317894,atlanta,183650683,630,LARCENY-NON VEHICLE,12/31/2018,1000,33.80448,-84.41348,2018-12-31,2018,10
317895,atlanta,183650689,630,LARCENY-NON VEHICLE,12/31/2018,1016,33.75194,-84.38964,2018-12-31,2018,10
317896,atlanta,183651202,630,LARCENY-NON VEHICLE,12/31/2018,1400,33.73797,-84.39846,2018-12-31,2018,14
317897,atlanta,183651244,630,LARCENY-NON VEHICLE,12/31/2018,800,33.84676,-84.36212,2018-12-31,2018,8
317898,atlanta,183651676,630,LARCENY-NON VEHICLE,12/31/2018,1800,33.75445,-84.38954,2018-12-31,2018,18
317899,atlanta,183651752,630,LARCENY-NON VEHICLE,12/31/2018,1845,33.73323,-84.43795,2018-12-31,2018,18
317900,atlanta,183652121,630,LARCENY-NON VEHICLE,12/31/2018,2123,33.70262,-84.38491,2018-12-31,2018,21
317901,atlanta,183652271,630,LARCENY-NON VEHICLE,12/31/2018,2205,33.81125,-84.47594,2018-12-31,2018,22
317902,atlanta,183650457,521,BURGLARY-RESIDENCE,12/31/2018,500,33.72227,-84.40929,2018-12-31,2018,5
317903,atlanta,183651734,521,BURGLARY-RESIDENCE,12/26/2018,1300,33.84317,-84.37459,2018-12-26,2018,13




----

# Final view of date_time into weather data datetime format

In [10]:
data_atlanta.rename(columns={"UCR #": "code"}, inplace=True)
data_atlanta = data_atlanta[["city", "code", "date", "time", "latitude", "longitude"]].copy()
data_atlanta.to_csv (r'data/Atlanta/data_atlanta.csv', index = None, header=True)

data_atlanta

/anaconda3/envs/PythonData/lib/python3.6/site-packages/pandas/core/frame.py:4218: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(**kwargs)

           city  code        date  time  latitude  longitude
175621  atlanta   720  2014-01-01     1  33.69915  -84.41819
175622  atlanta   341  2014-01-01    19  33.75290  -84.43904
175623  atlanta   311  2014-01-01     2  33.77575  -84.46804
175624  atlanta   410  2014-01-01     2  33.76244  -84.41272
175625  atlanta   410  2014-01-01    17  33.78554  -84.45441
...         ...   ...         ...   ...       ...        ...
317899  atlanta   630  2018-12-31    18  33.73323  -84.43795
317900  atlanta   630  2018-12-31    21  33.70262  -84.38491
317901  atlanta   630  2018-12-31    22  33.81125  -84.47594
317902  atlanta   521  2018-12-31     5  33.72227  -84.40929
317903  atlanta   521  2018-12-26    13  33.84317  -84.37459

[142012 rows x 6 columns]

In [11]:
# df_years = [data_2014, data_2015, data_2016, data_2017, data_2018]

# for i, yr in enumerate(df_years):
#     df = reformat_datetime(yr)
#     if i == 0:
#         data_2014_1 = df.copy()
#     elif i ==1:
#         data_2015_1 = df.copy()
#     elif i ==2:
#         data_2016_1 = df.copy()
#     elif i ==3:
#         data_2017_1 = df.copy()
#     elif i ==4:
#         data_2018_1 = df.copy()

In [ ]:
data_2014_1

In [ ]:
data_2015_1

In [ ]:
data_2016_1

In [ ]:
data_2017_1

In [ ]:
data_2018_1

In [ ]:
# .to_csv(index=False)
data_2014_1.to_csv (r'data/Atlanta/data_2014.csv', index = None, header=True)
data_2015_1.to_csv (r'data/Atlanta/data_2015.csv', index = None, header=True)
data_2016_1.to_csv (r'data/Atlanta/data_2016.csv', index = None, header=True)
data_2017_1.to_csv (r'data/Atlanta/data_2017.csv', index = None, header=True)
data_2018_1.to_csv (r'data/Atlanta/data_2018.csv', index = None, header=True)