In [1]:
# Dependencies
from splinter import Browser
from bs4 import BeautifulSoup as bs
from sqlalchemy import create_engine
import numpy as np
import pandas as pd
import requests
import pymongo
from datetime import datetime
import ast

In [2]:
file = "data/LA/crime-data-from-2010-to-present.csv"
data1 = pd.read_csv(file)

In [3]:
# DR Number	Date Reported	Date Occurred	Time Occurred	Area ID	Area Name	Reporting District	Crime Code	
# Crime Code Description	MO Codes	Victim Age	Victim Sex	Victim Descent	Premise Code	Premise Description	
# Weapon Used Code	Weapon Description	Status Code	Status Description	Crime Code 1	Crime Code 2	Crime Code 3	
# Crime Code 4	Address	Cross Street	Location 
data = data1[["Crime Code", "Date Occurred", "Time Occurred", "Location "]].copy()
data["city"] = "los_angeles"
data

,Crime Code,Date Occurred,Time Occurred,Location,city
0,510,2010-01-22T00:00:00,2300,"{'latitude': '34.0454', 'needs_recoding': Fals...",los_angeles
1,510,2010-11-10T00:00:00,1800,"{'latitude': '33.9572', 'needs_recoding': Fals...",los_angeles
2,510,2010-01-27T00:00:00,2230,"{'latitude': '34.1211', 'needs_recoding': Fals...",los_angeles
3,510,2010-11-07T00:00:00,1600,"{'latitude': '34.241', 'needs_recoding': False...",los_angeles
4,510,2010-04-07T00:00:00,1600,"{'latitude': '34.3147', 'needs_recoding': Fals...",los_angeles
5,510,2010-12-30T00:00:00,2100,"{'latitude': '34.2354', 'needs_recoding': Fals...",los_angeles
6,510,2010-10-26T00:00:00,1315,"{'latitude': '34.0294', 'needs_recoding': Fals...",los_angeles
7,510,2010-04-20T00:00:00,1230,"{'latitude': '34.2139', 'needs_recoding': Fals...",los_angeles
8,510,2010-12-21T00:00:00,1200,"{'latitude': '34.255', 'needs_recoding': False...",los_angeles
9,510,2010-02-03T00:00:00,1800,"{'latitude': '34.1351', 'needs_recoding': Fals...",los_angeles
10,510,2010-01-13T00:00:00,2000,"{'latitude': '33.9651', 'needs_recoding': Fals...",los_angeles
11,510,2010-02-24T00:00:00,2200,"{'latitude': '34.0896', 'needs_recoding': Fals...",los_angeles
12,330,2010-05-02T00:00:00,1600,"{'latitude': '34.0825', 'needs_recoding': Fals...",los_angeles
13,510,2010-10-25T00:00:00,2100,"{'latitude': '34.1059', 'needs_recoding': Fals...",los_angeles
14,510,2010-03-07T00:00:00,1530,"{'latitude': '33.9738', 'needs_recoding': Fals...",los_angeles
15,510,2010-03-27T00:00:00,2200,"{'latitude': '33.9824', 'needs_recoding': Fals...",los_angeles
16,510,2010-03-19T00:00:00,2000,"{'latitude': '33.9872', 'needs_recoding': Fals...",los_angeles
17,510,2010-05-25T00:00:00,2230,"{'latitude': '33.9722', 'needs_recoding': Fals...",los_angeles
18,510,2010-07-19T00:00:00,2305,"{'latitude': '33.9869', 'needs_recoding': Fals...",los_angeles
19,510,2010-03-22T00:00:00,1000,"{'latitude': '34.0294', 'needs_recoding': Fals...",los_angeles
20,510,2010-11-28T00:00:00,2230,"{'latitude': '33.9834', 'needs_recoding': Fals...",los_angeles
21,510,2010-01-05T00:00:00,1700,"{'latitude': '33.9971', 'needs_recoding': Fals...",los_angeles
22,510,2010-02-10T00:00:00,1300,"{'latitude': '33.9844', 'needs_recoding': Fals...",los_angeles
23,850,2010-02-12T00:00:00,1530,"{'latitude': '33.9851', 'needs_recoding': Fals...",los_angeles
24,510,2010-03-29T00:00:00,1430,"{'latitude': '34.0039', 'needs_recoding': Fals...",los_angeles
25,510,2010-04-23T00:00:00,2000,"{'latitude': '34.0073', 'needs_recoding': Fals...",los_angeles
26,510,2010-06-19T00:00:00,2200,"{'latitude': '34.0057', 'needs_recoding': Fals...",los_angeles
27,510,2010-07-02T00:00:00,1200,"{'latitude': '34.0294', 'needs_recoding': Fals...",los_angeles
28,510,2010-08-08T00:00:00,1615,"{'latitude': '34.0285', 'needs_recoding': Fals...",los_angeles
29,510,2010-08-27T00:00:00,1150,"{'latitude': '33.9834', 'needs_recoding': Fals...",los_angeles
...,...,...,...,...,...
1993229,624,2019-06-15T00:00:00,1000,"{'latitude': '34.185', 'needs_recoding': False...",los_angeles
1993230,886,2019-06-22T00:00:00,600,"{'latitude': '34.2038', 'needs_recoding': Fals...",los_angeles
1993231,900,2019-06-21T00:00:00,1500,"{'latitude': '34.221', 'needs_recoding': False...",los_angeles
1993232,440,2019-06-21T00:00:00,1600,"{'latitude': '34.1905', 'needs_recoding': Fals...",los_angeles
1993233,330,2019-06-22T00:00:00,1500,"{'latitude': '34.1648', 'needs_recoding': Fals...",los_angeles
1993234,354,2019-06-22T00:00:00,1800,"{'latitude': '34.2029', 'needs_recoding': Fals...",los_angeles
1993235,442,2019-06-22T00:00:00,2020,"{'latitude': '34.166', 'needs_recoding': False...",los_angeles
1993236,310,2019-06-21T00:00:00,1950,"{'latitude': '34.1552', 'needs_recoding': Fals...",los_angeles
1993237,442,2019-06-22T00:00:00,1230,"{'latitude': '34.1875', 'needs_recoding': Fals...",los_angeles
1993238,341,2019-06-22T00:00:00,1200,"{'latitude': '34.1938', 'needs_recoding': Fals...",los_angeles
1993239,440,2019-06-22T00:00:00,2100,"{'latitude': '34.1974', 'needs_recoding': Fals...",los_angeles
1993240,330,2019-06-22T00:00:00,2130,"{'latitude': '34.2108', 'needs_recoding': Fals...",los_angeles
1993241,626,2019-06-22T00:00:00,1518,"{'latitude': '34.1592', 'needs_recoding': Fals...",los_angeles
1993242,236,2019-06-22T00:00:00,2000,"{'latitude': '34.1827', 'needs_recoding': Fals...",los_angeles
1993243,310,2019-06-18T00:00:00,1200,"{'latitude': '34.1774', 'needs_recoding': Fals...",los_angeles
1993244,626,2019-06-22T00:00:00,1920,"{'latitude': '34.1847', 'needs_recoding': Fals...",los_angeles
1993245,624,2019-06-22T00:00:00,2215,"{'latitude': '34.192', 'needs_recoding': False...",los_angeles
1993246,420,2019-06-22T00:00:00,2200,"{'latitude': '34.2047', 'needs_recoding': Fals...",los_angeles
1993247,343,2019-06-20T00:00:00,1650,"{'latitude': '34.1905', 'needs_recoding': Fals...",los_angeles
1993248,510,2019-06-10T00:00:00,1100,"{'latitude': '34.1974', 'needs_recoding': Fals...",los_angeles
1993249,354,2019-06-22T00:00:00,1800,"{'latitude': '34.201', 'needs_recoding': False...",los_angeles
1993250,888,2019-06-17T00:00:00,1500,"{'latitude': '34.1912', 'needs_recoding': Fals...",los_angeles
1993251,341,2019-06-11T00:00:00,2300,"{'latitude': '34.1883', 'needs_recoding': Fals...",los_angeles
1993252,310,2019-06-21T00:00:00,1700,"{'latitude': '34.2044', 'needs_recoding': Fals...",los_angeles
1993253,888,2019-06-22T00:00:00,530,"{'latitude': '34.1604', 'needs_recoding': Fals...",los_angeles
1993254,442,2019-06-21T00:00:00,1205,"{'latitude': '34.1883', 'needs_recoding': Fals...",los_angeles
1993255,910,2019-01-15T00:00:00,1940,"{'latitude': '33.9449', 'needs_recoding': Fals...",los_angeles
1993256,946,2019-02-01T00:00:00,2126,"{'latitude': '34.1244', 'needs_recoding': Fals...",los_angeles
1993257,668,2019-02-05T00:00:00,1600,"{'latitude': '34.2227', 'needs_recoding': Fals...",los_angeles
1993258,668,2019-01-07T00:00:00,1600,"{'latitude': '34.2227', 'needs_recoding': Fals...",los_angeles

In [4]:
# NA NAN Checking
num_NA = data.isna().sum()
print(num_NA)
print("\nPercentage of NA in whole data: \n" + str(num_NA/data["Crime Code"].count()))

Crime Code       0
Date Occurred    0
Time Occurred    0
Location         0
city             0
dtype: int64

Percentage of NA in whole data:
Crime Code       0.0
Date Occurred    0.0
Time Occurred    0.0
Location         0.0
city             0.0
dtype: float64

In [5]:
dates = []
years = []

for date in data["Date Occurred"]:
    date = datetime.strptime(date.replace("T", " "), "%Y-%m-%d %H:%M:%S")
    dates.append(date)
    years.append(date.year)
    
data["date"] = dates
data["years"] = years

In [6]:
# data_2014 = pd.DataFrame()
# data_2015 = pd.DataFrame()
# data_2016 = pd.DataFrame()
# data_2017 = pd.DataFrame()
# data_2018 = pd.DataFrame()

# data_2014 = data.loc[data["years"] == 2014]
# print(data_2014)
# data_2015 = data.loc[data["years"] == 2015]
# print(data_2015)
# data_2016 = data.loc[data["years"] == 2016]
# print(data_2016)
# data_2017 = data.loc[data["years"] == 2017]
# print(data_2017)
# data_2018 = data.loc[data["years"] == 2018]
# data_2018

data = data.loc[(data["years"] >= 2014) & (data["years"] <= 2018)]
data

,Crime Code,Date Occurred,Time Occurred,Location,city,date,years
802641,745,2014-01-04T00:00:00,2300,"{'latitude': '34.2009', 'needs_recoding': Fals...",los_angeles,2014-01-04,2014
802642,624,2014-04-25T00:00:00,1200,"{'latitude': '34.0361', 'needs_recoding': Fals...",los_angeles,2014-04-25,2014
802643,230,2014-01-01T00:00:00,40,"{'latitude': '34.0662', 'needs_recoding': Fals...",los_angeles,2014-01-01,2014
802644,943,2014-10-31T00:00:00,1000,"{'latitude': '34.1685', 'needs_recoding': Fals...",los_angeles,2014-10-31,2014
802645,510,2014-11-01T00:00:00,2140,"{'latitude': '34.0446', 'needs_recoding': Fals...",los_angeles,2014-11-01,2014
802646,624,2014-01-04T00:00:00,110,"{'latitude': '34.0455', 'needs_recoding': Fals...",los_angeles,2014-01-04,2014
802647,626,2014-01-03T00:00:00,2015,"{'latitude': '34.0462', 'needs_recoding': Fals...",los_angeles,2014-01-03,2014
802648,753,2014-01-05T00:00:00,230,"{'latitude': '34.0477', 'needs_recoding': Fals...",los_angeles,2014-01-05,2014
802649,930,2014-01-05T00:00:00,1750,"{'latitude': '34.0416', 'needs_recoding': Fals...",los_angeles,2014-01-05,2014
802650,624,2014-01-06T00:00:00,1620,"{'latitude': '34.0544', 'needs_recoding': Fals...",los_angeles,2014-01-06,2014
802651,930,2014-01-06T00:00:00,2250,"{'latitude': '34.048', 'needs_recoding': False...",los_angeles,2014-01-06,2014
802652,230,2014-01-07T00:00:00,255,"{'latitude': '34.0671', 'needs_recoding': Fals...",los_angeles,2014-01-07,2014
802653,442,2014-01-07T00:00:00,1800,"{'latitude': '34.0494', 'needs_recoding': Fals...",los_angeles,2014-01-07,2014
802654,930,2014-01-08T00:00:00,1525,"{'latitude': '34.0419', 'needs_recoding': Fals...",los_angeles,2014-01-08,2014
802655,220,2014-01-09T00:00:00,1800,"{'latitude': '34.043', 'needs_recoding': False...",los_angeles,2014-01-09,2014
802656,121,2014-01-08T00:00:00,2320,"{'latitude': '34.0401', 'needs_recoding': Fals...",los_angeles,2014-01-08,2014
802657,624,2014-01-10T00:00:00,140,"{'latitude': '34.0467', 'needs_recoding': Fals...",los_angeles,2014-01-10,2014
802658,330,2014-01-11T00:00:00,30,"{'latitude': '34.0576', 'needs_recoding': Fals...",los_angeles,2014-01-11,2014
802659,740,2014-01-11T00:00:00,30,"{'latitude': '34.0476', 'needs_recoding': Fals...",los_angeles,2014-01-11,2014
802660,230,2014-01-11T00:00:00,145,"{'latitude': '34.0529', 'needs_recoding': Fals...",los_angeles,2014-01-11,2014
802661,745,2014-01-13T00:00:00,2330,"{'latitude': '34.0545', 'needs_recoding': Fals...",los_angeles,2014-01-13,2014
802662,330,2014-01-15T00:00:00,930,"{'latitude': '34.032', 'needs_recoding': False...",los_angeles,2014-01-15,2014
802663,649,2014-01-15T00:00:00,2000,"{'latitude': '34.0559', 'needs_recoding': Fals...",los_angeles,2014-01-15,2014
802664,626,2014-01-15T00:00:00,2345,"{'latitude': '34.043', 'needs_recoding': False...",los_angeles,2014-01-15,2014
802665,624,2014-01-16T00:00:00,2230,"{'latitude': '34.0481', 'needs_recoding': Fals...",los_angeles,2014-01-16,2014
802666,815,2014-01-18T00:00:00,1100,"{'latitude': '34.0481', 'needs_recoding': Fals...",los_angeles,2014-01-18,2014
802667,230,2014-01-19T00:00:00,200,"{'latitude': '34.0433', 'needs_recoding': Fals...",los_angeles,2014-01-19,2014
802668,624,2014-01-19T00:00:00,200,"{'latitude': '34.0433', 'needs_recoding': Fals...",los_angeles,2014-01-19,2014
802669,626,2014-01-20T00:00:00,1930,"{'latitude': '34.0335', 'needs_recoding': Fals...",los_angeles,2014-01-20,2014
802670,230,2014-01-21T00:00:00,1825,"{'latitude': '34.0423', 'needs_recoding': Fals...",los_angeles,2014-01-21,2014
...,...,...,...,...,...,...,...
1893939,649,2018-10-01T00:00:00,900,"{'latitude': '34.1849', 'needs_recoding': Fals...",los_angeles,2018-10-01,2018
1893940,821,2018-10-20T00:00:00,830,"{'latitude': '34.2252', 'needs_recoding': Fals...",los_angeles,2018-10-20,2018
1893941,649,2018-09-24T00:00:00,1100,"{'latitude': '34.1849', 'needs_recoding': Fals...",los_angeles,2018-09-24,2018
1893942,946,2018-03-01T00:00:00,800,"{'latitude': '34.1946', 'needs_recoding': Fals...",los_angeles,2018-03-01,2018
1893943,354,2018-01-01T00:00:00,800,"{'latitude': '34.1812', 'needs_recoding': Fals...",los_angeles,2018-01-01,2018
1893944,649,2018-06-10T00:00:00,900,"{'latitude': '34.2195', 'needs_recoding': Fals...",los_angeles,2018-06-10,2018
1893945,354,2018-11-08T00:00:00,1200,"{'latitude': '34.1501', 'needs_recoding': Fals...",los_angeles,2018-11-08,2018
1893946,626,2018-12-30T00:00:00,1300,"{'latitude': '34.1938', 'needs_recoding': Fals...",los_angeles,2018-12-30,2018
1893947,649,2018-11-25T00:00:00,1,"{'latitude': '34.2112', 'needs_recoding': Fals...",los_angeles,2018-11-25,2018
1893948,649,2018-11-28T00:00:00,900,"{'latitude': '34.1837', 'needs_recoding': Fals...",los_angeles,2018-11-28,2018
1893949,420,2018-12-01T00:00:00,1200,"{'latitude': '34.1912', 'needs_recoding': Fals...",los_angeles,2018-12-01,2018
1893950,310,2018-04-20T00:00:00,1200,"{'latitude': '34.1865', 'needs_recoding': Fals...",los_angeles,2018-04-20,2018
1893951,420,2018-12-01T00:00:00,2000,"{'latitude': '34.1921', 'needs_recoding': Fals...",los_angeles,2018-12-01,2018
1893952,649,2018-04-28T00:00:00,700,"{'latitude': '34.2011', 'needs_recoding': Fals...",los_angeles,2018-04-28,2018
1893953,354,2018-12-20T00:00:00,1200,"{'latitude': '34.1923', 'needs_recoding': Fals...",los_angeles,2018-12-20,2018
1893954,354,2018-01-01T00:00:00,900,"{'latitude': '34.1938', 'needs_recoding': Fals...",los_angeles,2018-01-01,2018
1893955,341,2018-12-01T00:00:00,1200,"{'latitude': '34.1829', 'needs_recoding': Fals...",los_angeles,2018-12-01,2018
1893956,626,2018-09-15T00:00:00,1000,"{'latitude': '34.1865', 'needs_recoding': Fals...",los_angeles,2018-09-15,2018
1893957,440,2018-09-23T00:00:00,600,"{'latitude': '34.2029', 'needs_recoding': Fals...",los_angeles,2018-09-23,2018
1893958,649,2018-12-28T00:00:00,1200,"{'latitude': '34.2024', 'needs_recoding': Fals...",los_angeles,2018-12-28,2018
1893959,440,2018-07-31T00:00:00,1,"{'latitude': '34.1634', 'needs_recoding': Fals...",los_angeles,2018-07-31,2018
1893960,510,2018-05-20T00:00:00,1200,"{'latitude': '34.1828', 'needs_recoding': Fals...",los_angeles,2018-05-20,2018
1893961,354,2018-05-20T00:00:00,1200,"{'latitude': '34.1828', 'needs_recoding': Fals...",los_angeles,2018-05-20,2018
1893962,928,2018-08-29T00:00:00,1200,"{'latitude': '34.1679', 'needs_recoding': Fals...",los_angeles,2018-08-29,2018
1893963,354,2018-11-28T00:00:00,900,"{'latitude': '34.1837', 'needs_recoding': Fals...",los_angeles,2018-11-28,2018
1893964,930,2018-08-01T00:00:00,1,"{'latitude': '34.1811', 'needs_recoding': Fals...",los_angeles,2018-08-01,2018
1893965,354,2018-10-20T00:00:00,1200,"{'latitude': '34.2047', 'needs_recoding': Fals...",los_angeles,2018-10-20,2018
1893966,354,2018-12-23T00:00:00,100,"{'latitude': '34.181', 'needs_recoding': False...",los_angeles,2018-12-23,2018
1893967,649,2018-05-30T00:00:00,1500,"{'latitude': '34.1805', 'needs_recoding': Fals...",los_angeles,2018-05-30,2018
1893968,121,2018-07-01T00:00:00,1,"{'latitude': '34.2246', 'needs_recoding': Fals...",los_angeles,2018-07-01,2018

In [7]:
def reformat_datetime(df):
    dates = []
    times = []
    datetimes = []
    for d,t  in zip(df["date"], df["Time Occurred"]):
#         print(d)
#         print(type(d))
    #     datetime = (datetime.strftime(d, format='%Y-%m-%d') + " " + str(t))
        dy = datetime.strptime(str(d), "%Y-%m-%d %H:%M:%S")
        date_time = datetime.strftime(d, format='%Y-%m-%d') 
        ti = int(t/100)
    #     datetime = d + " " + t
        dates.append(dy)
        times.append(ti)
    df["date"] = dates
    df["time"] = times
    return df

# def reformat_datetime(df):
#     dates = []
#     times = []

#     for d,t  in zip(df["date"], df["Occur Time"]):
# #         print(d)
# #         print(type(d))
#     #     datetime = (datetime.strftime(d, format='%Y-%m-%d') + " " + str(t))
#         dy = datetime.strptime(str(d), "%Y-%m-%d")
#         dy = datetime.strftime(dy, format='%Y-%m-%d') 
#         ti = int(t/100)
#     #     datetime = d + " " + t
#         dates.append(dy)
#         times.append(ti)
#     df["date"] = dates
#     df["time"] = times
#     return df

In [8]:
data_la = reformat_datetime(data)
data_la

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

,Crime Code,Date Occurred,Time Occurred,Location,city,date,years,time
802641,745,2014-01-04T00:00:00,2300,"{'latitude': '34.2009', 'needs_recoding': Fals...",los_angeles,2014-01-04,2014,23
802642,624,2014-04-25T00:00:00,1200,"{'latitude': '34.0361', 'needs_recoding': Fals...",los_angeles,2014-04-25,2014,12
802643,230,2014-01-01T00:00:00,40,"{'latitude': '34.0662', 'needs_recoding': Fals...",los_angeles,2014-01-01,2014,0
802644,943,2014-10-31T00:00:00,1000,"{'latitude': '34.1685', 'needs_recoding': Fals...",los_angeles,2014-10-31,2014,10
802645,510,2014-11-01T00:00:00,2140,"{'latitude': '34.0446', 'needs_recoding': Fals...",los_angeles,2014-11-01,2014,21
802646,624,2014-01-04T00:00:00,110,"{'latitude': '34.0455', 'needs_recoding': Fals...",los_angeles,2014-01-04,2014,1
802647,626,2014-01-03T00:00:00,2015,"{'latitude': '34.0462', 'needs_recoding': Fals...",los_angeles,2014-01-03,2014,20
802648,753,2014-01-05T00:00:00,230,"{'latitude': '34.0477', 'needs_recoding': Fals...",los_angeles,2014-01-05,2014,2
802649,930,2014-01-05T00:00:00,1750,"{'latitude': '34.0416', 'needs_recoding': Fals...",los_angeles,2014-01-05,2014,17
802650,624,2014-01-06T00:00:00,1620,"{'latitude': '34.0544', 'needs_recoding': Fals...",los_angeles,2014-01-06,2014,16
802651,930,2014-01-06T00:00:00,2250,"{'latitude': '34.048', 'needs_recoding': False...",los_angeles,2014-01-06,2014,22
802652,230,2014-01-07T00:00:00,255,"{'latitude': '34.0671', 'needs_recoding': Fals...",los_angeles,2014-01-07,2014,2
802653,442,2014-01-07T00:00:00,1800,"{'latitude': '34.0494', 'needs_recoding': Fals...",los_angeles,2014-01-07,2014,18
802654,930,2014-01-08T00:00:00,1525,"{'latitude': '34.0419', 'needs_recoding': Fals...",los_angeles,2014-01-08,2014,15
802655,220,2014-01-09T00:00:00,1800,"{'latitude': '34.043', 'needs_recoding': False...",los_angeles,2014-01-09,2014,18
802656,121,2014-01-08T00:00:00,2320,"{'latitude': '34.0401', 'needs_recoding': Fals...",los_angeles,2014-01-08,2014,23
802657,624,2014-01-10T00:00:00,140,"{'latitude': '34.0467', 'needs_recoding': Fals...",los_angeles,2014-01-10,2014,1
802658,330,2014-01-11T00:00:00,30,"{'latitude': '34.0576', 'needs_recoding': Fals...",los_angeles,2014-01-11,2014,0
802659,740,2014-01-11T00:00:00,30,"{'latitude': '34.0476', 'needs_recoding': Fals...",los_angeles,2014-01-11,2014,0
802660,230,2014-01-11T00:00:00,145,"{'latitude': '34.0529', 'needs_recoding': Fals...",los_angeles,2014-01-11,2014,1
802661,745,2014-01-13T00:00:00,2330,"{'latitude': '34.0545', 'needs_recoding': Fals...",los_angeles,2014-01-13,2014,23
802662,330,2014-01-15T00:00:00,930,"{'latitude': '34.032', 'needs_recoding': False...",los_angeles,2014-01-15,2014,9
802663,649,2014-01-15T00:00:00,2000,"{'latitude': '34.0559', 'needs_recoding': Fals...",los_angeles,2014-01-15,2014,20
802664,626,2014-01-15T00:00:00,2345,"{'latitude': '34.043', 'needs_recoding': False...",los_angeles,2014-01-15,2014,23
802665,624,2014-01-16T00:00:00,2230,"{'latitude': '34.0481', 'needs_recoding': Fals...",los_angeles,2014-01-16,2014,22
802666,815,2014-01-18T00:00:00,1100,"{'latitude': '34.0481', 'needs_recoding': Fals...",los_angeles,2014-01-18,2014,11
802667,230,2014-01-19T00:00:00,200,"{'latitude': '34.0433', 'needs_recoding': Fals...",los_angeles,2014-01-19,2014,2
802668,624,2014-01-19T00:00:00,200,"{'latitude': '34.0433', 'needs_recoding': Fals...",los_angeles,2014-01-19,2014,2
802669,626,2014-01-20T00:00:00,1930,"{'latitude': '34.0335', 'needs_recoding': Fals...",los_angeles,2014-01-20,2014,19
802670,230,2014-01-21T00:00:00,1825,"{'latitude': '34.0423', 'needs_recoding': Fals...",los_angeles,2014-01-21,2014,18
...,...,...,...,...,...,...,...,...
1893939,649,2018-10-01T00:00:00,900,"{'latitude': '34.1849', 'needs_recoding': Fals...",los_angeles,2018-10-01,2018,9
1893940,821,2018-10-20T00:00:00,830,"{'latitude': '34.2252', 'needs_recoding': Fals...",los_angeles,2018-10-20,2018,8
1893941,649,2018-09-24T00:00:00,1100,"{'latitude': '34.1849', 'needs_recoding': Fals...",los_angeles,2018-09-24,2018,11
1893942,946,2018-03-01T00:00:00,800,"{'latitude': '34.1946', 'needs_recoding': Fals...",los_angeles,2018-03-01,2018,8
1893943,354,2018-01-01T00:00:00,800,"{'latitude': '34.1812', 'needs_recoding': Fals...",los_angeles,2018-01-01,2018,8
1893944,649,2018-06-10T00:00:00,900,"{'latitude': '34.2195', 'needs_recoding': Fals...",los_angeles,2018-06-10,2018,9
1893945,354,2018-11-08T00:00:00,1200,"{'latitude': '34.1501', 'needs_recoding': Fals...",los_angeles,2018-11-08,2018,12
1893946,626,2018-12-30T00:00:00,1300,"{'latitude': '34.1938', 'needs_recoding': Fals...",los_angeles,2018-12-30,2018,13
1893947,649,2018-11-25T00:00:00,1,"{'latitude': '34.2112', 'needs_recoding': Fals...",los_angeles,2018-11-25,2018,0
1893948,649,2018-11-28T00:00:00,900,"{'latitude': '34.1837', 'needs_recoding': Fals...",los_angeles,2018-11-28,2018,9
1893949,420,2018-12-01T00:00:00,1200,"{'latitude': '34.1912', 'needs_recoding': Fals...",los_angeles,2018-12-01,2018,12
1893950,310,2018-04-20T00:00:00,1200,"{'latitude': '34.1865', 'needs_recoding': Fals...",los_angeles,2018-04-20,2018,12
1893951,420,2018-12-01T00:00:00,2000,"{'latitude': '34.1921', 'needs_recoding': Fals...",los_angeles,2018-12-01,2018,20
1893952,649,2018-04-28T00:00:00,700,"{'latitude': '34.2011', 'needs_recoding': Fals...",los_angeles,2018-04-28,2018,7
1893953,354,2018-12-20T00:00:00,1200,"{'latitude': '34.1923', 'needs_recoding': Fals...",los_angeles,2018-12-20,2018,12
1893954,354,2018-01-01T00:00:00,900,"{'latitude': '34.1938', 'needs_recoding': Fals...",los_angeles,2018-01-01,2018,9
1893955,341,2018-12-01T00:00:00,1200,"{'latitude': '34.1829', 'needs_recoding': Fals...",los_angeles,2018-12-01,2018,12
1893956,626,2018-09-15T00:00:00,1000,"{'latitude': '34.1865', 'needs_recoding': Fals...",los_angeles,2018-09-15,2018,10
1893957,440,2018-09-23T00:00:00,600,"{'latitude': '34.2029', 'needs_recoding': Fals...",los_angeles,2018-09-23,2018,6
1893958,649,2018-12-28T00:00:00,1200,"{'latitude': '34.2024', 'needs_recoding': Fals...",los_angeles,2018-12-28,2018,12
1893959,440,2018-07-31T00:00:00,1,"{'latitude': '34.1634', 'needs_recoding': Fals...",los_angeles,2018-07-31,2018,0
1893960,510,2018-05-20T00:00:00,1200,"{'latitude': '34.1828', 'needs_recoding': Fals...",los_angeles,2018-05-20,2018,12
1893961,354,2018-05-20T00:00:00,1200,"{'latitude': '34.1828', 'needs_recoding': Fals...",los_angeles,2018-05-20,2018,12
1893962,928,2018-08-29T00:00:00,1200,"{'latitude': '34.1679', 'needs_recoding': Fals...",los_angeles,2018-08-29,2018,12
1893963,354,2018-11-28T00:00:00,900,"{'latitude': '34.1837', 'needs_recoding': Fals...",los_angeles,2018-11-28,2018,9
1893964,930,2018-08-01T00:00:00,1,"{'latitude': '34.1811', 'needs_recoding': Fals...",los_angeles,2018-08-01,2018,0
1893965,354,2018-10-20T00:00:00,1200,"{'latitude': '34.2047', 'needs_recoding': Fals...",los_angeles,2018-10-20,2018,12
1893966,354,2018-12-23T00:00:00,100,"{'latitude': '34.181', 'needs_recoding': False...",los_angeles,2018-12-23,2018,1
1893967,649,2018-05-30T00:00:00,1500,"{'latitude': '34.1805', 'needs_recoding': Fals...",los_angeles,2018-05-30,2018,15
1893968,121,2018-07-01T00:00:00,1,"{'latitude': '34.2246', 'needs_recoding': Fals...",los_angeles,2018-07-01,2018,0

In [9]:
lat = []
long = []

for loc in data_la["Location "]:
    loc = ast.literal_eval(loc)
    lat.append(loc["latitude"])
    long.append(loc["longitude"])

data_la["latitude"] = lat
data_la["longitude"] = long

data_la

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

,Crime Code,Date Occurred,Time Occurred,Location,city,date,years,time,latitude,longitude
802641,745,2014-01-04T00:00:00,2300,"{'latitude': '34.2009', 'needs_recoding': Fals...",los_angeles,2014-01-04,2014,23,34.2009,-118.6369
802642,624,2014-04-25T00:00:00,1200,"{'latitude': '34.0361', 'needs_recoding': Fals...",los_angeles,2014-04-25,2014,12,34.0361,-118.3392
802643,230,2014-01-01T00:00:00,40,"{'latitude': '34.0662', 'needs_recoding': Fals...",los_angeles,2014-01-01,2014,0,34.0662,-118.4507
802644,943,2014-10-31T00:00:00,1000,"{'latitude': '34.1685', 'needs_recoding': Fals...",los_angeles,2014-10-31,2014,10,34.1685,-118.4662
802645,510,2014-11-01T00:00:00,2140,"{'latitude': '34.0446', 'needs_recoding': Fals...",los_angeles,2014-11-01,2014,21,34.0446,-118.249
802646,624,2014-01-04T00:00:00,110,"{'latitude': '34.0455', 'needs_recoding': Fals...",los_angeles,2014-01-04,2014,1,34.0455,-118.2381
802647,626,2014-01-03T00:00:00,2015,"{'latitude': '34.0462', 'needs_recoding': Fals...",los_angeles,2014-01-03,2014,20,34.0462,-118.2585
802648,753,2014-01-05T00:00:00,230,"{'latitude': '34.0477', 'needs_recoding': Fals...",los_angeles,2014-01-05,2014,2,34.0477,-118.2393
802649,930,2014-01-05T00:00:00,1750,"{'latitude': '34.0416', 'needs_recoding': Fals...",los_angeles,2014-01-05,2014,17,34.0416,-118.255
802650,624,2014-01-06T00:00:00,1620,"{'latitude': '34.0544', 'needs_recoding': Fals...",los_angeles,2014-01-06,2014,16,34.0544,-118.2466
802651,930,2014-01-06T00:00:00,2250,"{'latitude': '34.048', 'needs_recoding': False...",los_angeles,2014-01-06,2014,22,34.048,-118.2577
802652,230,2014-01-07T00:00:00,255,"{'latitude': '34.0671', 'needs_recoding': Fals...",los_angeles,2014-01-07,2014,2,34.0671,-118.2483
802653,442,2014-01-07T00:00:00,1800,"{'latitude': '34.0494', 'needs_recoding': Fals...",los_angeles,2014-01-07,2014,18,34.0494,-118.2599
802654,930,2014-01-08T00:00:00,1525,"{'latitude': '34.0419', 'needs_recoding': Fals...",los_angeles,2014-01-08,2014,15,34.0419,-118.2485
802655,220,2014-01-09T00:00:00,1800,"{'latitude': '34.043', 'needs_recoding': False...",los_angeles,2014-01-09,2014,18,34.043,-118.2571
802656,121,2014-01-08T00:00:00,2320,"{'latitude': '34.0401', 'needs_recoding': Fals...",los_angeles,2014-01-08,2014,23,34.0401,-118.2668
802657,624,2014-01-10T00:00:00,140,"{'latitude': '34.0467', 'needs_recoding': Fals...",los_angeles,2014-01-10,2014,1,34.0467,-118.2485
802658,330,2014-01-11T00:00:00,30,"{'latitude': '34.0576', 'needs_recoding': Fals...",los_angeles,2014-01-11,2014,0,34.0576,-118.2544
802659,740,2014-01-11T00:00:00,30,"{'latitude': '34.0476', 'needs_recoding': Fals...",los_angeles,2014-01-11,2014,0,34.0476,-118.2477
802660,230,2014-01-11T00:00:00,145,"{'latitude': '34.0529', 'needs_recoding': Fals...",los_angeles,2014-01-11,2014,1,34.0529,-118.2329
802661,745,2014-01-13T00:00:00,2330,"{'latitude': '34.0545', 'needs_recoding': Fals...",los_angeles,2014-01-13,2014,23,34.0545,-118.2499
802662,330,2014-01-15T00:00:00,930,"{'latitude': '34.032', 'needs_recoding': False...",los_angeles,2014-01-15,2014,9,34.032,-118.2667
802663,649,2014-01-15T00:00:00,2000,"{'latitude': '34.0559', 'needs_recoding': Fals...",los_angeles,2014-01-15,2014,20,34.0559,-118.2296
802664,626,2014-01-15T00:00:00,2345,"{'latitude': '34.043', 'needs_recoding': False...",los_angeles,2014-01-15,2014,23,34.043,-118.242
802665,624,2014-01-16T00:00:00,2230,"{'latitude': '34.0481', 'needs_recoding': Fals...",los_angeles,2014-01-16,2014,22,34.0481,-118.2507
802666,815,2014-01-18T00:00:00,1100,"{'latitude': '34.0481', 'needs_recoding': Fals...",los_angeles,2014-01-18,2014,11,34.0481,-118.2507
802667,230,2014-01-19T00:00:00,200,"{'latitude': '34.0433', 'needs_recoding': Fals...",los_angeles,2014-01-19,2014,2,34.0433,-118.2504
802668,624,2014-01-19T00:00:00,200,"{'latitude': '34.0433', 'needs_recoding': Fals...",los_angeles,2014-01-19,2014,2,34.0433,-118.2504
802669,626,2014-01-20T00:00:00,1930,"{'latitude': '34.0335', 'needs_recoding': Fals...",los_angeles,2014-01-20,2014,19,34.0335,-118.2619
802670,230,2014-01-21T00:00:00,1825,"{'latitude': '34.0423', 'needs_recoding': Fals...",los_angeles,2014-01-21,2014,18,34.0423,-118.2452
...,...,...,...,...,...,...,...,...,...,...
1893939,649,2018-10-01T00:00:00,900,"{'latitude': '34.1849', 'needs_recoding': Fals...",los_angeles,2018-10-01,2018,9,34.1849,-118.6015
1893940,821,2018-10-20T00:00:00,830,"{'latitude': '34.2252', 'needs_recoding': Fals...",los_angeles,2018-10-20,2018,8,34.2252,-118.6131
1893941,649,2018-09-24T00:00:00,1100,"{'latitude': '34.1849', 'needs_recoding': Fals...",los_angeles,2018-09-24,2018,11,34.1849,-118.6015
1893942,946,2018-03-01T00:00:00,800,"{'latitude': '34.1946', 'needs_recoding': Fals...",los_angeles,2018-03-01,2018,8,34.1946,-118.6262
1893943,354,2018-01-01T00:00:00,800,"{'latitude': '34.1812', 'needs_recoding': Fals...",los_angeles,2018-01-01,2018,8,34.1812,-118.6077
1893944,649,2018-06-10T00:00:00,900,"{'latitude': '34.2195', 'needs_recoding': Fals...",los_angeles,2018-06-10,2018,9,34.2195,-118.617
1893945,354,2018-11-08T00:00:00,1200,"{'latitude': '34.1501', 'needs_recoding': Fals...",los_angeles,2018-11-08,2018,12,34.1501,-118.6073
1893946,626,2018-12-30T00:00:00,1300,"{'latitude': '34.1938', 'needs_recoding': Fals...",los_angeles,2018-12-30,2018,13,34.1938,-118.5906
1893947,649,2018-11-25T00:00:00,1,"{'latitude': '34.2112', 'needs_recoding': Fals...",los_angeles,2018-11-25,2018,0,34.2112,-118.6392
1893948,649,2018-11-28T00:00:00,900,"{'latitude': '34.1837', 'needs_recoding': Fals...",los_angeles,2018-11-28,2018,9,34.1837,-118.5846
1893949,420,2018-12-01T00:00:00,1200,"{'latitude': '34.1912', 'needs_recoding': Fals...",los_angeles,2018-12-01,2018,12,34.1912,-118.5941
1893950,310,2018-04-20T00:00:00,1200,"{'latitude': '34.1865', 'needs_recoding': Fals...",los_angeles,2018-04-20,2018,12,34.1865,-118.5886
1893951,420,2018-12-01T00:00:00,2000,"{'latitude': '34.1921', 'needs_recoding': Fals...",los_angeles,2018-12-01,2018,20,34.1921,-118.5884
1893952,649,2018-04-28T00:00:00,700,"{'latitude': '34.2011', 'needs_recoding': Fals...",los_angeles,2018-04-28,2018,7,34.2011,-118.5863
1893953,354,2018-12-20T00:00:00,1200,"{'latitude': '34.1923', 'needs_recoding': Fals...",los_angeles,2018-12-20,2018,12,34.1923,-118.6104
1893954,354,2018-01-01T00:00:00,900,"{'latitude': '34.1938', 'needs_recoding': Fals...",los_angeles,2018-01-01,2018,9,34.1938,-118.5906
1893955,341,2018-12-01T00:00:00,1200,"{'latitude': '34.1829', 'needs_recoding': Fals...",los_angeles,2018-12-01,2018,12,34.1829,-118.6059
1893956,626,2018-09-15T00:00:00,1000,"{'latitude': '34.1865', 'needs_recoding': Fals...",los_angeles,2018-09-15,2018,10,34.1865,-118.6392
1893957,440,2018-09-23T00:00:00,600,"{'latitude': '34.2029', 'needs_recoding': Fals...",los_angeles,2018-09-23,2018,6,34.2029,-118.599
1893958,649,2018-12-28T00:00:00,1200,"{'latitude': '34.2024', 'needs_recoding': Fals...",los_angeles,2018-12-28,2018,12,34.2024,-118.6308
1893959,440,2018-07-31T00:00:00,1,"{'latitude': '34.1634', 'needs_recoding': Fals...",los_angeles,2018-07-31,2018,0,34.1634,-118.6315
1893960,510,2018-05-20T00:00:00,1200,"{'latitude': '34.1828', 'needs_recoding': Fals...",los_angeles,2018-05-20,2018,12,34.1828,-118.6102
1893961,354,2018-05-20T00:00:00,1200,"{'latitude': '34.1828', 'needs_recoding': Fals...",los_angeles,2018-05-20,2018,12,34.1828,-118.6102
1893962,928,2018-08-29T00:00:00,1200,"{'latitude': '34.1679', 'needs_recoding': Fals...",los_angeles,2018-08-29,2018,12,34.1679,-118.5804
1893963,354,2018-11-28T00:00:00,900,"{'latitude': '34.1837', 'needs_recoding': Fals...",los_angeles,2018-11-28,2018,9,34.1837,-118.5846
1893964,930,2018-08-01T00:00:00,1,"{'latitude': '34.1811', 'needs_recoding': Fals...",los_angeles,2018-08-01,2018,0,34.1811,-118.5928
1893965,354,2018-10-20T00:00:00,1200,"{'latitude': '34.2047', 'needs_recoding': Fals...",los_angeles,2018-10-20,2018,12,34.2047,-118.5792
1893966,354,2018-12-23T00:00:00,100,"{'latitude': '34.181', 'needs_recoding': False...",los_angeles,2018-12-23,2018,1,34.181,-118.5904
1893967,649,2018-05-30T00:00:00,1500,"{'latitude': '34.1805', 'needs_recoding': Fals...",los_angeles,2018-05-30,2018,15,34.1805,-118.5975
1893968,121,2018-07-01T00:00:00,1,"{'latitude': '34.2246', 'needs_recoding': Fals...",los_angeles,2018-07-01,2018,0,34.2246,-118.5994




----

# Final view of date_time into weather data datetime format

In [10]:
data_la.rename(columns={"Crime Code": "code"}, inplace=True)
data_la = data_la[["city", "code", "date", "time", "latitude", "longitude"]].copy()
data_la.to_csv (r'data/LA/data_la.csv', index = None, header=True)

data_la

/anaconda3/envs/PythonData/lib/python3.6/site-packages/pandas/core/frame.py:4218: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(**kwargs)

                city  code       date  time latitude  longitude
802641   los_angeles   745 2014-01-04    23  34.2009  -118.6369
802642   los_angeles   624 2014-04-25    12  34.0361  -118.3392
802643   los_angeles   230 2014-01-01     0  34.0662  -118.4507
802644   los_angeles   943 2014-10-31    10  34.1685  -118.4662
802645   los_angeles   510 2014-11-01    21  34.0446   -118.249
...              ...   ...        ...   ...      ...        ...
1893964  los_angeles   930 2018-08-01     0  34.1811  -118.5928
1893965  los_angeles   354 2018-10-20    12  34.2047  -118.5792
1893966  los_angeles   354 2018-12-23     1   34.181  -118.5904
1893967  los_angeles   649 2018-05-30    15  34.1805  -118.5975
1893968  los_angeles   121 2018-07-01     0  34.2246  -118.5994

[1091328 rows x 6 columns]

In [11]:
# df_years = [data_2014, data_2015, data_2016, data_2017, data_2018]

# for i, yr in enumerate(df_years):
#     df = reformat_datetime(yr)
#     if i == 0:
#         data_2014_1 = df.copy()
#     elif i ==1:
#         data_2015_1 = df.copy()
#     elif i ==2:
#         data_2016_1 = df.copy()
#     elif i ==3:
#         data_2017_1 = df.copy()
#     elif i ==4:
#         data_2018_1 = df.copy()




----

# Final view of date_time into weather data datetime format

In [ ]:
data_2014_1

In [ ]:
data_2015_1

In [ ]:
data_2016_1

In [ ]:
data_2017_1

In [ ]:
data_2018_1




----

# Spliting Lat/Long into separate columns

In [ ]:
lat = []
long = []

for loc in data_2014_1["Location "]:
    loc = ast.literal_eval(loc)
    lat.append(loc["latitude"])
    long.append(loc["longitude"])

data_2014_1["latitude"] = lat
data_2014_1["longitude"] = long

data_2014_1

# ast.literal_eval("{'muffin' : 'lolz', 'foo' : 'kitty'}")
# {'muffin': 'lolz', 'foo': 'kitty'}

In [ ]:
lat = []
long = []

for loc in data_2015_1["Location "]:
    loc = ast.literal_eval(loc)
    lat.append(loc["latitude"])
    long.append(loc["longitude"])

data_2015_1["latitude"] = lat
data_2015_1["longitude"] = long

data_2015_1

In [ ]:
lat = []
long = []

for loc in data_2016_1["Location "]:
    loc = ast.literal_eval(loc)
    lat.append(loc["latitude"])
    long.append(loc["longitude"])

data_2016_1["latitude"] = lat
data_2016_1["longitude"] = long

data_2016_1

In [ ]:
lat = []
long = []

for loc in data_2017_1["Location "]:
    loc = ast.literal_eval(loc)
    lat.append(loc["latitude"])
    long.append(loc["longitude"])

data_2017_1["latitude"] = lat
data_2017_1["longitude"] = long

data_2017_1

In [ ]:
lat = []
long = []

for loc in data_2018_1["Location "]:
    loc = ast.literal_eval(loc)
    lat.append(loc["latitude"])
    long.append(loc["longitude"])

data_2018_1["latitude"] = lat
data_2018_1["longitude"] = long

data_2018_1

In [ ]:
# .to_csv(index=False)
data_2014_1.to_csv (r'data/LA/data_2014.csv', index = None, header=True)
data_2015_1.to_csv (r'data/LA/data_2015.csv', index = None, header=True)
data_2016_1.to_csv (r'data/LA/data_2016.csv', index = None, header=True)
data_2017_1.to_csv (r'data/LA/data_2017.csv', index = None, header=True)
data_2018_1.to_csv (r'data/LA/data_2018.csv', index = None, header=True)